[2018-11-13 20:55] adrian-arg opened #1 "Report is not being generated"
Cucumber4-Adapter is not generating the desired report

I had managed to make the previous version work a few weeks ago.

All dependencies have been updated according to the information in the repository.

/* Runner Class */
@RunWith(Cucumber.class)
@CucumberOptions(
//		junit = "--step-notifications",
		strict = true
, features = { Environment.featuresFolder }
, glue = { Environment.stepDefinitio

[2018-11-13 21:04] foursyth commented on #1
Ah, I see what the issue is..

AventReporter is not available in community version and what you see is only a place holder for users who upgrade/downgrade to/from professional edition.  Use the below properties and it will work:

[code]

I have also created small example project [here](https://github.com/foursyth/extentreports-cucumberN-example) which you can use as reference although you won't be

[2018-11-14 14:44] adrian-arg commented on #1
Thank you, foursyth.
But still no luck, the only difference now is that it creates the output folders, but the report isn't there.

extent.reporter.email.out=test-output/EmailReport/ExtentEmail.html
extent.reporter.html.out=test-output/HtmlReport/ExtentHtml.html

I double checked all dependencies and removed any unnecessary ones.

[2018-11-14 14:46] foursyth commented on #1
Can you share the new propeties file you have?

Having output folders is a good thing! We're almost there.

[2018-11-14 14:47] foursyth commented on #1
One more thing. Are you running from command line or an IDE?

[2018-11-14 14:56] adrian-arg commented on #1
I copied the one in the example project, I tried commenting the config part just in case, but same result.
I'm running in Eclipse.

extent.reporter.avent.start=false
extent.reporter.bdd.start=false
extent.reporter.cards.start=false
extent.reporter.email.start=false
extent.reporter.html.start=true
extent.reporter.klov.start=false
extent.reporter.logger.start=true
extent.reporter.tabular.start=false

[2018-11-14 14:59] foursyth commented on #1
Hmm, Eclipse works for me.

Does the example project create the reports for you?

[2018-11-14 16:59] adrian-arg commented on #1
The example project works with Cucumber2 Adapter.

But if I change it to Cucumber4 Adapter it doesn't.

There seems to be some dependencies inconsistencies,
If I leave the pom as:

        <dependency>
            <groupId>com.aventstack</groupId>
            <artifactId>extentreports-cucumber4-adapter</artifactId>
            <version>1.0.1</version>
        </dependency>
        <dependency>

[2018-11-14 17:02] foursyth commented on #1
Hmm, it should be the same. Let me try with version 4 adapter also.

[2018-11-14 20:32] foursyth commented on #1
ello @adrian-arg

Hope you did not have to wait for too long.  I got caught up with a few things.

Here is an example you can use:  https://github.com/foursyth/extentreports-cucumber4-example

You can see `test-output/` for the reports that got generated as per `extent.properties`.  I hope this will help you.

[2018-11-14 21:44] adrian-arg commented on #1
Don't worry about it, I appreciate it, I'm impressed by the response time
so far.

I'm away from my computer, but at first glance I see some changes in the
runner class, I'll check it out as soon as I can. Thank you!

import org.junit.experimental.categories.Category;

@Category(Example.class)

On Wed, Nov 14, 2018, 17:32 foursyth <notifications@github.com wrote:

[2018-11-15 12:27] adrian-arg commented on #1
It seems I run into an Eclipse bug, may I ask which version are you running?

I'm on Version: Oxygen.3a Release (4.7.3a) - Build id: 20180405-1200

--
Class ParameterTypes.java >> import io.cucumber.datatable.DataTableType;

Internal compiler error: java.lang.ArrayIndexOutOfBoundsException

https://bugs.eclipse.org/bugs/show_bug.cgi?id=538192

[2018-11-15 13:15] adrian-arg commented on #1
I tried it on another machine.

It throws a ClassNotFoundException regarding the Runner

[2018-11-15 15:25] adrian-arg commented on #1
@foursyth

Well, I went ahead and tried it on my project.
It seems that something is not working, I can't pin point what it is,
but depending on the feature it just plain doesn't work, it doesn't output the  stack-trace to console or generated the report.

If I run Features A and B it generates the report correctly.
If I run Feature C it doesn't generate the report.
If I run Features A, B and C it

[2018-11-15 16:48] adrian-arg commented on #1
Well, I can confirm that the issue seems to be related to Features containing Scenario Outline / Examples, even If the particular Scenarios are not run.
If the Runner class references a Feature that contains Scenario Outline, then it won't generate a report.
If I take out the "com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter:" it generates all other HTML reports.

[2018-11-15 21:05] foursyth commented on #1
Hello again @adrian-arg

I do not think Scenario Outline is the culprit.  Still,  is it possible for you to share one that produces such error which we can use to test?  You do not need to provide the Java StepDefs - just the Scenario Outline.  We can create dummy step defs and test.

In `extentreports-4.0.0`, there was an issue with Asterisk (*) which was resolved in `4.0.1`.  Do any of your step

[2018-11-15 21:08] foursyth commented on #1
Btw, if Asterisk was the issue, you can upgrade to version `extentreports-cucumber4-adapter:1.0.2` and it should now be resolved.  If it is something else,  it would help if you can share an example with us so we can test.

Although Scenario Outline was part of my example too, see [here](https://github.com/foursyth/extentreports-cucumber4-example/blob/master/src/test/resources/cucumber/examples/ja

[2018-11-15 21:58] adrian-arg commented on #1
Oh, I didn't see that.
I could not run that project because of the eclipse Bug I mentioned, I'll
have to sort that out later.

I don't recall having any * in my feature files, but I do have them in my
step definitions. I will check that.

I used one of the features that worked, and added a scenario outline with a
simple:
Then display <errorMsg>
Example:
| errorMsj |
| this is an error |

Once I ge

[2018-11-15 22:02] foursyth commented on #1
I have also noticed issues with Eclipse IDE for EE (Eclipse IDE for Java EE Developers).  The toned down IDE (Eclipse IDE for Java Developers) works fine.  I am not sure why that is so, but starting version 2 of Cucumber, my code fails to work properly in the EE version.

[2018-11-16 04:07] deena-p commented on #1
Hi @foursyth
I am also facing the same issue: cucumber4 adapter is not generating report (extent.reporter.html).
I am using below versions:
        <cucumber.type>io.cucumber</cucumber.type>
        <cucumber.version>4.0.1</cucumber.version>
        <cucumber.extent.report>1.0.2</cucumber.extent.report>

Here is my code of TestRunner:

@CucumberOptions(
        features = "src/test/java/features",

[2018-11-16 04:18] foursyth commented on #1
Hello @deena-p

Would you be kind enough to send a sample with me that I can share with my team and fix asap?

[2018-11-16 04:40] deena-p commented on #1
Hi @foursyth
Here is the sample which I have created from my project.

https://github.com/deena-p/cucumber4-sample-deena

Thank you very much for your quick response.

[2018-11-16 04:41] adrian-arg commented on #1
Thanks, @foursyth . I think I got it down!

Just to leave everything here in case anyone else runs into the same issue:

I'm running Eclipse IDE for Java Developers.

If I use an * in the Feature file I get a
java.lang.ClassNotFoundException:` `com.aventstack.extentreports.gherkin.model.*
The report is generated, but the particular Step is not attached.

You were right, there Scenario Outlines wer

[2018-11-16 04:52] foursyth commented on #1
Thank you @adrian-arg and @deena-p.  I much appreciate your efforts!

[2018-11-16 05:54] deena-p commented on #1
Hi @foursyth
After I copied the extent.properties and .xml file to resources folder. Now it is working.
Reports are generated. Also updated the sample project.
Thank you.

[2018-11-16 08:07] deena-p commented on #1
Hi @foursyth
Can you please let know how to attach screenshot to the scenarios when we use the adapter?
Thank you

[2018-11-16 13:05] foursyth commented on #1
Hello @deena-p

Sure,  I will have a look today and let you know.

[2018-11-16 13:09] foursyth commented on #1
Also, so its working for you now?  Wow!

One thing I would like to point out after looking at your project.  You must use only 1 type of report from the initalization (enabled the HTML for now, as only HTML and Logger are available in community version):

[code]

[2018-11-16 13:53] foursyth commented on #1
@deena-p Screenshots do not look so straight-forward because of the way hooks are used.  The new `EventListener` seems to be generating the report after all tests have complete, due to which, the current `ExtentTest` is not available.

[2018-11-16 14:03] adrian-arg commented on #1
@foursyth

I updated to the latest version and I can confirm with %99.9 certainty that:

Reports are not generated if a Scenario fails and at least one Step is Skipped.

If the Runner class runs {n} Scenarios and at least 1 fails this way, then the entire Report is not generated.

[2018-11-16 14:05] foursyth commented on #1
In my example, I am failing a few steps and reports are getting generated.

@anshooarora

[2018-11-16 14:06] foursyth commented on #1
@deena-p I see an embed event

https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/main/java/com/aventstack/extentreports/cucumber/adapter/ExtentCucumberAdapter.java#L158

Not sure how to use this one though but looks like it gets called from the feature itself.

[2018-11-16 14:13] foursyth commented on #1
@adrian-arg I will test again with my example with more deliberate exceptions. Hopefully that allows me to reproduce.

[2018-11-16 14:14] adrian-arg commented on #1
I'm creating a new project to try and reproduce the issue, as I can't get past the Eclipse Bug regarding the DataTables import:

Errors occurred during the build.
Errors running builder 'Java Builder' on project 'extentreports-cucumber4-example-master'.
1

[2018-11-16 14:16] foursyth commented on #1
Yeah :(

I would recommend using Intellij, that works perfectly.

[2018-11-16 15:29] adrian-arg commented on #1
Alright, it took sometime to upload 🤣
https://github.com/adrian-arg/extentsreport-cucumber4-example-adrian-arg

I added two runners one with:
`, tags = { "@CheckoutPage and @OK"}
`
And another with:
`, tags = { "@CheckoutPage and @BUG"}`

(Can't afford IntelligJ 💸  )

[2018-11-16 16:26] foursyth commented on #1
LOL, me too, I use the free community version when things like the new Cucumber Ast implementation does not work.

[2018-11-16 16:40] foursyth commented on #1
@adrian-arg

I removed `strict = true` from CucumberOptions and I see results for both runners being created.

[2018-11-16 18:08] adrian-arg commented on #1
@foursyth , I made a gif file

![bug](https://user-images.githubusercontent.com/32654123/48639106-59361580-e9b1-11e8-9924-4a9bae34c35f.gif)

[2018-11-17 01:30] deena-p commented on #1
@foursyth @anshooarora Unless otherwise, if we don't add screenshot attachment functionality to the adapter, lot of people will not be convinced to use it. Is there any possibility to attach screenshot other than you mentioned here?

[2018-11-17 01:57] foursyth commented on #1
@deena-p

I wish I could answer that.  It's a much needed functionality but there is much lack of clarity around the way Cucumber 2+ listeners are created.

What I have shared is what the official cucumber formatter has, as this adapter is also a port of the HtmlFormatter directly from cucumber jvm.

We will find a way to add it and I am sure @anshooarora may get to it sooner than later, but any e

[2018-11-17 02:07] foursyth commented on #1
Here it is

https://github.com/cucumber/cucumber-jvm/issues/1502

[2018-11-17 02:22] deena-p commented on #1
@foursyth Thank you very much for the immediate response.

[2018-11-17 23:26] foursyth commented on #1
@anshooarora @adrian-arg @deena-p

Please see this reply:

https://github.com/cucumber/cucumber-jvm/issues/1502#issuecomment-439597404

We need `ConcurrentEventListener`.  Ref: https://github.com/cucumber/cucumber-jvm/blob/master/core/src/main/java/cucumber/runtime/formatter/ProgressFormatter.java#L18

[2018-11-17 23:46] mpkorstanje commented on #1
@foursyth please don't tag me here.

[2018-11-18 03:00] deena-p commented on #1
Hi @foursyth @anshooarora
Are you going to provide support for this?
or As a users of your extent4 adapter, we have to take care of this by ourself. If yes, can you please help me how implement this to support screenshot attachment?

[2018-11-18 03:12] foursyth commented on #1
@deena-p

This adapter belongs to the community, is open-source and also driven by users like you and I.  So feel free to contribute :)   I feel we have a good starting point here and we can work together in adding the missing pieces.

[2018-11-18 22:40] anshooarora commented on #1
Thank you for your efforts everyone.  I have a few items to work on at the moment, and hoping to start on the Cucumber adapters later this or next week.  In the meantime, please send in any pull requests - I will merge.

[2018-11-19 21:19] anshooarora commented on #1
@adrian-arg As per @foursyth's findings, I have made several updates to the codebase.  Also completed the remaining todos (EmbedEvent).  Please test with `1.0.3` when you get a chance.

[2018-11-20 02:11] deena-p commented on #1
Hi @anshooarora  @foursyth
Is this support screenshot attachment functionality too?

[2018-11-21 16:31] anshooarora commented on #1
Hello @deena-p yes, it is now supported via EmbedEvent

[2018-11-21 16:32] anshooarora commented on #1
I am closing this. Please reopen or create a new one if issues persist.

[2018-11-21 17:11] adrian-arg commented on #1
Thank you, @anshooarora!
At first glance it appears to be working, I will try to do some exhaustive testing later.
Looking forward to checking out the EmbedEvent feature!
Sorry I didn't reply earlier, I am busy at work and in the middle of finals.

[2018-11-21 18:21] deena-p commented on #1
@anshooarora will it support attaching screenshot to each step?

[2018-11-21 18:27] adrian-arg commented on #1
I run a regression that I had done on Friday with no modifications other than the POM file and...
1) If a Scenario Step fails and there are still Steps to go through, the very next Step is marked as PASS, and the rest of them are not shown..
It is shown as SKIPPED in the JUNIT Step progress tab.
"cucumber.runtime.junit.SkippedThrowable: This step is skipped"
But Report shows it as PASS.
After this

[2018-11-21 18:40] foursyth commented on #1
@adrian-arg you can reopen this, I will test a few scenarios and help in reproducing these issues.

[2018-11-21 18:43] adrian-arg commented on #1
Thanks, @foursyth.
BTW, I edited the comment after you replied, there's a little more information on it now.

And according to Git: "You cannot re-open your own issues if a repo collaborator closed them."

[2018-11-21 18:44] foursyth commented on #1
@anshooarora please reopen.

[2018-11-21 20:05] foursyth commented on #1
@anshooarora

I can confirm the 1st issue @adrian-arg shared.  However, the issue is, Cucumber is sending the events even after step has failed and it's sending passed events.  See below:

PS. Cucumber status as in caps, Extent lowercase.

[code]

[2018-11-21 20:15] foursyth commented on #1
This does not look right.  Opening a ticket with cucumber-jvm team.

[2018-11-21 20:25] foursyth commented on #1
Reference:  https://github.com/cucumber/cucumber-jvm/issues/1505

[2018-11-22 02:13] foursyth commented on #1
@anshooarora I have figured out the issue.  The issue is that in such a case a Throwable is not created and thus, the method `skip(throwable)` receive a NULL, which causes a NullPointer.  I suggest changing this:

[code]

[2018-11-22 02:39] anshooarora commented on #1
Thank you.  Its a little difficult for me to do all this without your help.

Can you check with `1.0.4-SNAPSHOT` and let me know if all works well now? [link](https://oss.sonatype.org/content/repositories/snapshots/com/aventstack/extentreports-cucumber4-adapter/1.0.4-SNAPSHOT/)

[code]

[2018-11-22 02:49] foursyth commented on #1
Ok, with this snapshot, all my tests which were giving invalid results have magically fixed themselves LOL.  But I am EXHAUSTED now and will do thorough tests tomorrow.

@adrian-arg @deena-p If you don't mind giving a helping hand, could you also check with the snapshot @anshooarora has shared just now?

[2018-11-22 17:55] foursyth commented on #1
@anshooarora and I ran several tests and all status coming in the correct format.

I have also tested EmbedEvent, works beautifully!  Here is how you use it:

1. Any image you capture, convert into byte array:
[code]

2. Use `@After` or `@AfterStep` to embed:
[code]
[code]

@anshooarora just committed c1aa9f568b797f02930a657dd21c385a00fb5c69.  There are also a few very nice updates to the look and

[2018-11-22 18:11] anshooarora commented on #1
`extentreports:4.0.5` deployed to central
`extentreports-cucumber4-adapter:1.0.4` deployed to central

[2018-11-22 18:13] anshooarora commented on #1
I am closing this.  Please open new individual tickets according to the issues or questions that now arise.

[2018-11-22 20:06] adrian-arg commented on #1
Sorry I'm late to the party! I'll be mostly away from my computer for a few days.

I run the same tests as last time, unfortunately I didn't get any Skipped Steps, I will test that at a later time.

Regarding the other issue I found:

2) The last Feature Scenario Result is PASS, but it should actually FAIL as it does when run on its own.

I'm seeing that the report for the Failure of last Feature

[2018-11-22 20:15] foursyth commented on #1
Hello @adrian-arg

Understood, thanks for helping out!  I guess I need to run more tests but the ones I have run today work flawlessly.  There are several changes to the way tests now run with cucumber-4,  I would need to see how you have implemented those.

Whenever you get a chance, no rush.  Hopefully others using this adapter may also report similar issues.

We don't really use Cucumber and on

[2018-11-23 00:11] adrian-arg commented on #1
Hello, @foursyth , your work is much appreciated!

I run into the old post claiming Cucumber v2 didn't work anymore just recently, I actually was using Cucumber 3, and didn't use Extent report before.
But the project demanded a more readable report, and after a looooong struggle trying to make it work I downgraded everything to Cucumber 1.2.5 .
The report is working but no DataTable types and the

[2018-11-23 03:33] deena-p commented on #1
Sorry for the late response. @foursyth @anshooarora
As I mostly concentrate on screenshot attachment functionality, here are my first observations.
1. This extent-report is not portable with screenshot attached. Is that possible to our provide own server location to store screenshots?
   Currently it is hard coded.
![image](https://user-images.githubusercontent.com/12594662/48930673-22fc1700-ef18-

[2018-11-23 03:44] deena-p commented on #1
My third concern, @foursyth @anshooarora
In case if I want to display all the scenarios on the left hand side of the dashboard page where currently feature file name are displaying? is that possible?
![image](https://user-images.githubusercontent.com/12594662/48927867-be34c280-eeff-11e8-992e-37baadfa4224.png)

See below the report when we run them in parallel mode, you can see same feature name is

[2018-11-26 01:09] foursyth commented on #1
@adrian-arg thank you,  I have forked your project just now and will test.

@deena-p

 * can be easily done with `extent.properties` or code.  Can you send a pull request for @anshooarora to review?
 *  sure, do this via a mix of JS and CSS from your html-config.xml,  or if you only want to reduce the style use the CSS config
 * No, this is not possible, and not recommended either..  where will yo

[2018-11-26 01:20] foursyth commented on #1
@adrian-arg I am able to reproduce..  my assumption is that its because the name of the scenario is the same between the 2 feature files.  Maybe checking for feature name as well would alleviate this issue.

@anshooarora I am rereferring to this https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/main/java/com/aventstack/extentreports/cucumber/adapter/ExtentCucumber

[2018-11-26 01:21] foursyth commented on #1
@anshooarora please reopen this again :)

[2018-11-26 02:09] anshooarora commented on #1
@adrian-arg I just worked on your example with foursyth - this should be fixed.  Please try with:

[code]

[link](https://oss.sonatype.org/content/repositories/snapshots/com/aventstack/extentreports-cucumber4-adapter/1.0.5-SNAPSHOT/)

The issue was that the `scenarioOutline` ThreadLocal wasn't being reset after completion.

[2018-11-26 02:16] anshooarora commented on #1
@deena-p Do you mind opening a new ticket for the 1st item?  As foursyth said, this can be added via config (properties or Java, although I prefer properties).  Let me know your thoughts as well.

[2018-11-26 04:13] deena-p opened #2 "Location for saving screenshots should be customizable"
This extent-report is not portable with screenshot attached as currently it is hard coded as test-output. Is that possible to our provide own server location to store screenshots? Similarly will it be a good idea to provide our own file name too?

In case if we need to access to a window shared location from Mac, will it work?

[2018-11-26 04:14] deena-p commented on #1
@anshooarora @foursyth
Hi I have created a new ticket for the first item. #2

[2018-11-26 16:11] anshooarora commented on #2
I would propose configuring the location from the existing `extent.properties` as such:

[code]

or from System:

[code]

or direct (will also set this as a system property):

[code]

A note for System or ExtentService - you must ensure this setting is created before any of the tests start.

[2018-11-26 19:35] #2 closed

[2018-11-26 19:50] anshooarora commented on #2
Please check with `1.0.5-SNAPSHOT`.

 * Setup `screenshot.dir` from [extent.properties](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/test/resources/com/aventstack/adapter/extent.properties)
 * Use `System.setProperty("screenshot.dir", "path")` before any of your tests start

[2018-11-27 06:48] deena-p commented on #2
Test OK for different inputs except below one.

For the below path
screenshotPath = "\\\\Server\\Data\\Automation\\Screenshot\\" + executionEnvironment.toLowerCase() + "\\" + browserType.toLowerCase() + "\\" + "dummy\\"
it is skipping the last folder dummy and storing the screenshots in
"\\\\Server\\Data\\Automation\\Screenshot\\" + executionEnvironment.toLowerCase() + "\\" + browserType.toLowerCa

[2018-11-28 01:09] foursyth commented on #2
No luck reproducing this..  btw, I am using unix style separator `/`. Try:

[code]

[2018-11-28 01:10] #1 closed

[2018-11-30 07:55] deena-p commented on #2
Hi @foursyth I am using windows machine and having windows server shared folders for storing screenshots.
Here is the code that creating the issue (Not sure why it is behaving like that) in the extentreports-cucumber4-adapter-1.0.4 adapter:

In ExtentCucumberAdapter.class
line no: 201
return new URL((new File(screenshotDir)).toURI().toURL(), fileName);

For the input of "\\\Server\Data\Automation\

[2018-11-30 14:10] foursyth commented on #2
Hmm,  for this feature I suggest sticking to 1.0.5-SNAPSHOT for now.  If it works, I will give @anshooarora a nudge to release to central.

[2018-11-30 14:53] deena-p commented on #2
Thanks. I think it shouldn't stop to release.

[2018-12-02 03:12] foursyth commented on #2
@anshooarora please see @deena-p note above, this can be released to central

[2018-12-02 05:16] anshooarora commented on #2
1.0.5 released to central

[2018-12-02 05:41] foursyth opened #3 "Update documentation for screenshot usage"
## Summary

The documentation for this adapter needs update with all the features available, but the screenshot functionality in particular.

The below 2 comments can be used:

* [how-to:capture](https://github.com/extent-framework/extentreports-cucumber4-adapter/issues/1#issuecomment-441095327)
* [how-to:adapter](https://github.com/extent-framework/extentreports-cucumber4-adapter/issues/2#issueco

[2018-12-03 03:38] deena-p commented on #2
Got it

[2018-12-06 09:42] reach2jeyan commented on #1
@foursyth
Can you explain why do I need to use `extractBytes` when I am able to have the screenshots attached to the extent reports with

[code]

I never needed to use `scenario.embed(extractBytes(name));`
![screnshotextent](https://user-images.githubusercontent.com/20741047/49575825-aa5e7700-f969-11e8-9cd6-f8586f1f2790.PNG)

[2018-12-06 14:32] anshooarora commented on #1
@reach2jeyan see [here](https://github.com/cucumber/cucumber-jvm/blob/master/core/src/main/java/cucumber/api/Scenario.java#L41) for reference, as the only possible way to do this is via a byte array.

[code]

[2018-12-06 15:11] anshooarora commented on #1
Hello @reach2jeyan if your existing method returns a byte array, then you do not need to use the method recommended by @foursyth.

[2018-12-12 21:23] NerdishShah opened #4 "klov reporter throws java.util.NoSuchElementException: No value present"
Enabling klov reporter throws java.util.NoSuchElementException: No value present

Below are the configs used:

/* extent.properties */
--------
extent.reporter.avent.start=false
extent.reporter.bdd.start=false
extent.reporter.cards.start=false
extent.reporter.email.start=false
extent.reporter.html.start=true
extent.reporter.klov.start=true
extent.reporter.logger.start=true
extent.reporter.tabular.

[2018-12-12 22:54] foursyth commented on #4
Can you share the entire stack trace?

[2018-12-13 01:15] NerdishShah commented on #4
java.util.NoSuchElementException: No value present
	at java.base/java.util.Optional.get(Optional.java:148)
	at com.aventstack.extentreports.reporter.ExtentKlovReporter.getConfigValue(ExtentKlovReporter.java:351)
	at com.aventstack.extentreports.reporter.ExtentKlovReporter.loadInitializationParams(ExtentKlovReporter.java:314)
	at com.aventstack.extentreports.reporter.ExtentKlovReporter.loadInitiali

[2018-12-13 01:34] anshooarora commented on #4
Can you add this to klov.properties and try again?

[code]

Please do not delete any keys from this file.

[2018-12-13 01:35] #4 closed

[2018-12-13 02:29] NerdishShah commented on #4
Its resolved now. Thanks for the quick response.

[2018-12-16 12:02] NerdishShah opened #5 "OS: Windows - Not writing embedded png file on the directory pointed in extent.properties due to which throws IO Exception"
On Windows, there is no screenshots written on the pointed directory in extent.properties and throws IO Exception. Please note that the same works fine on Mac platform except that it always writes on first level directory.

**OS:** Windows
**Klov Version:** 0.2.2
**Adapter Version:** 1.2.5

**Using:**

@After
	public void embedScreenshot(Scenario scenario) throws IOException {
		if (scenario.isFai

[2018-12-16 16:42] foursyth commented on #5
Please format your post properly.

Custom file names are not allowed. The adapter follows Cucumber convention of saving screenshots. If you would like this changed, please send in a pull request.

[2018-12-17 03:53] NerdishShah commented on #5
Sorry about it. I have updated the issue accordingly. Please take a look.

[2018-12-17 03:59] NerdishShah opened #6 "OS: Mac - Screenshot gets written only on 1st level directory"
On Mac, the screenshots get written on 1st level directory i.e. given test-output/html/screenshots in extent.properties gets written only on test-output folder.

[2018-12-17 16:55] anshooarora commented on #6
@NerdishShah I am unable to reproduce this on Ubuntu or Windows. I don't have a Mac do unable to test.

Please note, if you have the below runner options, screenshots will be created in `test-output` along with the folder specified in `extent.properties` because the Cucumber hooks will create snapshots in `test-output/`.

[code]

Can you remove the Cucumber hook, try again and report your results?

[2018-12-17 17:05] anshooarora commented on #5
I am unable to reproduce.  I am also closing this as this issue is very difficult to comprehend.  Please format your code properly and make sure your configuration is valid.  If you continue to face issues, you can open a new ticket with properly formatted test+code.  Thank you.

klov.properties
[code]

extent.properties
[code]

Klov:

![image](https://user-images.githubusercontent.com/4107384/501

[2018-12-17 17:05] #5 closed

[2018-12-20 08:09] mohamadsyauqi opened #7 "Adding log into every steps in Html report"
I cannot find any documentation to add log/text into the step.
I tried using scenario.write but it only works for the original cucumber html report not for the extent report.
I assumed extent report can do this because it can add screenshot after every step.

Thanks in advance.

[2018-12-20 17:19] anshooarora commented on #7
@mohamadsyauqi This would be done via the [writeEvent](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/main/java/com/aventstack/extentreports/cucumber/adapter/ExtentCucumberAdapter.java#L217).

Please feel free to send a PR.

[2018-12-21 02:47] mohamadsyauqi commented on #7
I'm not really a good programmer, but I tried to add this into the code :
[code]
It works just fine. I don't know what else to check/add. Like I said I'm not really a good programmer, but if this is okay and you want me to send a PR, let me know.

[2018-12-24 23:27] anshooarora commented on #7
Thank you, I am checking now.

[2018-12-24 23:28] anshooarora commented on #6
I am closing this as there is no response.  Feel free to reopen or create a new issue if it persists.

[2018-12-24 23:35] anshooarora commented on #7
This looks good.  Although, I don't think you need to split using a `\n` because it will create multiple events for each step.  I would just log as a single step:

[code]

[2019-01-03 07:49] mohamadsyauqi commented on #7
Btw, is there a way to make the info log show in the report like the fail log? Meaning it can collapse and expand.

![fail log](https://user-images.githubusercontent.com/46016468/50627576-091a0f00-0f6f-11e9-8880-a8f3e87c01f7.PNG)

I think example above shows both how the info log and fail log behaves. I want to make the info log shows like the fail log.
The reason for this is I want to put all the

[2019-01-04 02:34] anshooarora commented on #7
At the moment, no, not by default.  But this can be achieved using custom JavaScript.  I would not like to change existing features for this reporter as it may confuse users who are used to using this reporter in the current way.

This can be achieved using the new reporter for version 4 for which I have created a poll [here](https://github.com/extent-framework/extentreports-java/issues/19).  Howe

[2019-01-07 03:57] mohamadsyauqi commented on #7
I figured out the simplest way to tackle this problem. I created a method to handle all the log and put it into a textarea. Below is the method I did
[code]
For this to work correctly the handleWrite method also needed to change to not replace the \n with < br/ >
[code]
What do you think of not replacing \n for the handleWrite @anshooarora ? I think the pros is user can have more customizability a

[2019-01-07 16:44] #7 closed

[2019-01-07 16:46] anshooarora opened #9 "Add support for reporting hooks like in cucumber3-adapter"
Cucumber3 adapter reports all pre/post-hooks for scenarios.  The same supports needs to be added for Version4.

[2019-01-07 16:47] #9 closed

[2019-01-10 03:36] mohamadsyauqi opened #10 "Version 1.0.6 added every hooks in the report"
Hello, I notice in the 1.0.6, the report has additional step for every cucumber hooks e.g. before, after, afterstep.

![106](https://user-images.githubusercontent.com/46016468/50944555-e25a5c00-14cb-11e9-91c6-3fc84504a17d.PNG)

I think now the report has a lot of unnecessary information. I just want to see only the steps in the feature files. Is this intended or bug?

[2019-01-10 04:20] foursyth commented on #10
Please use `1.0.5` for now.  This was supposed to be only for errors only but the hook is injected before/after each step.

[2019-01-14 05:04] #10 closed

[2019-01-14 05:08] anshooarora opened #11 "Add ExtentSparkReporter"
Add the necessary hooks for the new ExtentSparkReporter from `extentreports:4.0.7` via properties and System setting.

[2019-01-14 05:09] #11 closed

[2019-01-15 23:20] anshooarora opened #12 "Issues with breaking hierarchy when running scenarios in parallel"
When running in parallel using TestNG and:

[code]

[2019-02-12 19:43] chetand24 opened #13 "Screenshot not embedded LoggerReport and not present in ExtentHtml"
I ran simple test and expecting the screenshot embedded to the ExtentHtml report but its not present.

I can see "img" icon/link in the LoggerReport but it does not show the image embedded.

When I inspect the element I found following:
<a href="#" class="indigo badge" data-featherlight="<absolute path>/test-output/embedded1.png">img</a>

I can see the "embedded1.png" image present in the location

[2019-02-18 11:33] mgmankush opened #14 "How to add log within step definition, please provide an example"
@anshooarora I need a example where how text log like text , json can be added within certain step definition.

[2019-02-19 02:52] mohamadsyauqi commented on #14
@mgmankush use scenario.write() but it only supported in the newest version which is 1.0.6.
Example:
[code]

[2019-02-19 05:37] mgmankush commented on #14
@mohamadsyauqi thanks for the help :) , still it didn't solve my purpose.
I want to add these logs/text under the step definition within  html report ex i want to capture input data or api response

[2019-02-19 05:42] mohamadsyauqi commented on #14
@mgmankush am I misunderstood you or what? I think you have the exact issue as mine #7 where you want to put a log or text under every steps in html report. If so, the first example I gave you is the way to do it.

[2019-02-19 05:52] mgmankush commented on #14
@mohamadsyauqi It does add a log under console but not in html report :( I even tried scenario.embed , still its not adding under html report

[2019-02-19 05:58] mohamadsyauqi commented on #14
@mgmankush What version you are using? Is it the new one? If so then maybe there's a bug in the new version that affected that see #10 . Currently, I'm using my own jar where I did update the scenario.write() and using the old version to work. If you want I can share it with you. The problem is you need download it and add the dependency with the path to the jar, I can share that with you that too

[2019-02-19 06:05] mgmankush commented on #14
@mohamadsyauqi I am using the latest version 1.0.6 of it. If possible can u share the jar with me .really thanks for the help :)

[2019-02-19 06:10] mohamadsyauqi commented on #14
@mgmankush Download it from [here](https://github.com/mohamadsyauqi/extent-jar).
Create a new folder named lib at the root folder of the project.
Copy the new jar file into the lib folder.
Add the following dependency in the pom.xml file :
[code]
This is the maven dependency, if you are using gradle or something else try to search on how to convert it cause I dont know. Btw, this is the current wa

[2019-02-20 11:57] sivaram-vu opened #15 "Check for license requirements"
I check that this repository is MIT licensed so I understand that this is free to customize and use for my specific requirements as long as I include the MIT license file.  Kindly please confirm.

Bit more info,
I do not want to use customization's of the BDD reporter.  Just want to use with HTML reporter to have the basic reports.

[2019-02-20 22:52] anshooarora commented on #15
Yes, you can make any customization necessary, there are no such restrictions.

PS.  You do know that it is possible to use any reporter via System settings or [properties configuration](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/test/resources/com/aventstack/adapter/extent.properties), right?

[2019-02-20 22:54] anshooarora commented on #14
Hmm, as far as I know, `scenario.write(text)` would output the information at the Step/Scenario level to the HTML report. Is that not happening for you?

[2019-02-21 09:10] sivaram-vu commented on #15
Thank you Anshooarora.
So, I understand now.. This can be used with any reporter and the reporters which are tagged as pro are licensed.

[2019-02-22 03:26] anshooarora commented on #15
Applies to all reporters.

[2019-02-22 03:26] anshooarora commented on #15
Applies to all reporters.

[2019-02-22 03:26] #15 closed

[2019-02-25 20:11] ranamanas commented on #13
@anshooarora Could you please look into this , i could see the same issue from my end.

[2019-02-26 05:24] anshooarora commented on #13
Marking this as a bug but would not recommend using LoggerReporter for BDD. SparkReporter works a lot better for this.

[2019-03-06 06:26] x0156 opened #16 "Report is not being generated when using testNg"
Extend Report is not being generated when using testNg as test runner. But works fine with junit though.
Tested with the [Sample Project](https://github.com/foursyth/extentreports-cucumberN-example)

Env: Java1.8 + maven
Adapter: 1.0.6
testng: 6.11
cucumber : 4.2.4

[2019-03-06 20:14] ebailey-vp opened #17 "URLOutputStream is being imported from an invalid location"
ExtentCucumberAdapter.java is importing UrlOutputStream as follows:

import cucumber.runtime.io.URLOutputStream;

in cucumber-jvm core, this file is actually located at

cucumber.runtime.formatter.URLOutputStream;

See: https://github.com/cucumber/cucumber-jvm/blob/174c62ee9c03b18920dbe8afdb945f15459b33b0/core/src/main/java/cucumber/runtime/formatter/URLOutputStream.java

[2019-03-06 21:07] foursyth commented on #17
This is due to https://github.com/cucumber/cucumber-jvm/commit/eb1a90bd5488421b06acfab4d2b32bf851cdf1db

the adapter is using version:

```<cucumber.version>4.0.1</cucumber.version>```

[2019-03-06 21:07] foursyth commented on #17
@anshooarora please upgrade the cucumber dependency

[2019-03-17 20:01] marloncruz opened #19 "How do I get the currently running test instance?"
The extent service is exposed by using getInstance.
Is there something equivalent to get the test instance? - This would allow us to quickly add - for example - screenshot to the currently executing test.

[2019-03-19 14:41] testdgvn commented on #1
Hi @reach2jeyan can you please show me in detail your embed method? I've tried yours but got no luck seeing the screenshots attached to report (screenshots is just generated to proper folder instead). Where did you implement the method?

I'm using extentreports-cucumber4-adapter: 1.0.7 and extentreports: 4.0.9

Thanks in advance!
cc @anshooarora

[2019-03-20 00:05] foursyth commented on #19
You can use the `embed` hook to do this, I wouldn't recommend going through the trouble of extracting the test information from the Service

[2019-03-20 00:07] foursyth commented on #1
As shared earlier:

[code]

[2019-03-20 02:12] mohamadsyauqi opened #20 "Screenshots do not show in ExtentHtml and a lot unnecessary steps."
The embed screenshots do not show in ExtentHtml and like I stated in #10 , version 1.0.7 still add every hooks in the report.
Example:
[code]
Currently I am using v1.0.5 with additional enhancement like we discussed in #7 and it works great but I have to put a jar file into the repo.

[2019-03-20 03:10] foursyth commented on #20
Hmm, as per this the hooks will only be included if they have meaningful content and the desired status..

[source.l205](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/main/java/com/aventstack/extentreports/cucumber/adapter/ExtentCucumberAdapter.java#L205)

Feel free to modify and send in a pull request if this is not ideal.

[2019-04-17 12:51] dustin2020 opened #21 "Time taken in the report is displayed as Zero"
Cucumber3-Adapter and Cucumber4-Adapter is not computing the Time taken in the report and every time this is generated it displays zero.

@RunWith(Cucumber.class)
@CucumberOptions(features = "src/test/resources/features",
                 glue = { "com.extentReport.ExtentReport.stepdef" },
                		 tags = {"@healthcheck"},
		         plugin = {"com.aventstack.extentreports.cucumber.adapt

[2019-04-29 17:11] sureshmanik commented on #20
I am having the same problems in my code/project. Is there any fixes done on these issues?

[2019-05-06 14:54] sandeepmknair commented on #2
Hi Anshoo,

Thanks for your great work..!!
I want to place the exntent.properties under src/main/resource/anyfolder ..It works only in under resource folder.It doesnt pick if I create a an additional folder.Could you please help me here.

[2019-05-07 01:36] sandeepmknair opened #22 "extent.properties file taking only from src/main/resource."
Hi Anshoo,

Thank you so much for your great work.This really helped our project to go furher.
My problem is If I want to create a directory under resources and place extent.properties it is not working.Could you please tell me how to configure the path of extent.properties?

[2019-05-08 07:50] subha077 commented on #1
Hi, @foursyth , @anshooarora ..
Great work on the adapter 4. I am able to generate detailed report now. But Now I am facing two issues.

(1) Can not add system info to the report - please suggest.
(2) The error screenshots are being generated but not getting attached to the extent report. I tried to embed them using @After method.

Here is the link for the sample project. can you please suggest an

[2019-05-09 22:46] Andyclark97 commented on #1
@foursyth @anshooarora I am having same problem as @subha077 above. Screenshots are being generated by not added to the report.

[2019-05-16 11:08] ramezah opened #23 "extentreports-cucumber4-adapter and Cucumber runner not providing proper Feature breakdown in extentHTMLReporter"
**POM file**
[code]

**ITTradeMgmt.java (Runner class)**

[code]

**ITRepoMgmt.java (Runner class)**
[code]

when I run my maven command without specifiying any cucumber profile :
mvn clean verify

I see the following output:
[code]

When I view the  extentHTMLReporter dashboard, instead of stating there is 2 feature, it lists as 1 feature. What other configuration I need to be able to separate th

[2019-05-21 20:07] ashwinipotadar commented on #14
@anshooarora Thank you for the excellent reporting plugin.

I followed https://github.com/extent-framework/extentreports-cucumber4-adapter and able to generate HTML report using extentreports-cucumber4-adapter

I want to know how to add
1. Logs in this format test.log(Status.INFO, "Starting test for scenario " );
2. Embed screenshots in the report

Below are some details

I am working on Selenium

[2019-05-22 10:52] igorakintev commented on #1
I have the same bug as @subha077 and @Andyclark97

[2019-05-24 10:18] MansiVyas4 commented on #1
Hello, I am using io.cucumber version 4.3.1 and need to add extent report to my project.
So, I have adding cucumber adapter version 1.0.7  for extent reports. But, report is not getting generated.
I have added cucumber and its depenedcy with extent cucumber adapter. I am running my project through cmd adding plugin as -p com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter:
Also, pl

[2019-05-24 10:28] subha077 commented on #1
@Mansi- I believe you are talking about cucumber core v4.3.1.
If you are using a maven project, just add the below dependency. It will populate all other requirements regarding cucumber jars as maven dependency.

<dependency>
    <groupId>com.aventstack</groupId>
    <artifactId>extentreports-cucumber4-adapter</artifactId>
    <version>1.0.7</version>
</dependency>

Try and let us know. I could ge

[2019-05-24 10:50] MansiVyas4 opened #24 "Unable to add Author , System Info & screenshot in report"
Hello,

I have used extent reports where i am able to add author , system info & but i am not able to do same with cucumber adapter. Is this functionality not included??? Also, I was my failure text to be resized.. Any way out doing it??

[2019-05-27 17:09] grasshopper7 commented on #17
The fix for this exists in the git at this [link](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/main/java/com/aventstack/extentreports/cucumber/adapter/URLOutputStream.java). This should have been included in the 1.0.7 release but this file was not tagged with 1.0.7 version.
Thus it is missing in the maven repository.

Got the sources and created a jar from ma

[2019-06-03 18:55] sureshmanik commented on #20
@foursyth I have fixed this issue in my local. can i send in a pull request.?

[2019-06-12 14:23] sureshmanik commented on #23
@ramezah Does you feature file has 2 scenarios? the cucumber output is showing only 1 scenario passed.so extent report shows only 1 scenario in the result.

[2019-06-22 07:52] kathyrollo commented on #17
Hi @foursyth

Can confirm this issue happens from Cucumber-JVM `4.2.1` and above. ExtentReports is being generated properly using `4.2.0` and below. I am also using the `AbstractTestNGCucumberTests` runner.

Is this an issue with Cucumber-JVM or `extentreports-cucumber4-adapter`?
[code]

[2019-06-22 08:23] kathyrollo commented on #20
Hi @foursyth

Can confirm screenshots are not embedded in the HtmlReport in `1.0.6` onwards with boilerplate-looking hooks:
![html_reports_106](https://user-images.githubusercontent.com/28589393/59961208-212f1c00-9518-11e9-8768-8829c95980f8.png)

HtmlReport has embedded screenshots and is more human-readable using `1.0.5`. To provide context, HtmlReport is also business-facing; stakeholders do not

[2019-07-09 13:20] jjogeshwar-modus opened #25 "Error when using scenario.embed method"
I am seeing following error. Here is the stack trace
` java.lang.NoSuchMethodError: com.aventstack.extentreports.service.ExtentService.getProperty(Ljava/lang/String;)Ljava/lang/Object;
	at com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter.toUrl(ExtentCucumberAdapter.java:254)
	at com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter.handleEmbed(ExtentCucumberAdapter

[2019-07-10 09:11] #25 closed

[2019-07-10 09:11] jogjitu opened #26 "Error when using scenario.embed method"
I am seeing following error. Here is the stack trace
` java.lang.NoSuchMethodError: com.aventstack.extentreports.service.ExtentService.getProperty(Ljava/lang/String;)Ljava/lang/Object;
	at com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter.toUrl(ExtentCucumberAdapter.java:254)
	at com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter.handleEmbed(ExtentCucumberAdapter

[2019-07-10 20:09] ramezah commented on #23
@sureshmalik there is 2 feature runner file :
ITRepoMgmt has 1 scenario and ITTradeMgmt has 4 scenario so there is 5 scenario in total.. Refer to the output shown. there is attached maven output and html output..

[2019-07-10 21:34] sureshmanik commented on #23
this is a bug in the extent adapter. this is happening when you have multiple runners,

[2019-07-30 07:14] dineshven opened #27 "Parameters are empty in the scenario outline in the reports"
Scenario Outline: Verify the "**<DateTimeFormat>**"  Format section in the settings screen
    Given I tap the Date Time section in android settings
    When I select the following "<DateTimeFormat>"
   Examples:
      | DateTimeFormat |

Extent report does not display the parameter for the Scenario Outline. I have highlighted them in bold.

[2019-08-20 21:34] Andyclark97 commented on #20
Any news on this?

[2019-08-28 12:03] vishalmgada opened #28 "Unable to see Screenshot in the Extent Cucumber Logger Report."
I am unable to see screenshot getting captured in the Extent report for cucumber. I am using the below code:

`public void screenshot(Scenario scenario) {
		   	if(scenario.isFailed()) {
	    		  byte[] screenshot=SeleniumUtils.captureScreenshot();
	 		   scenario.public void screenshot(Scenario scenario) {
	embed(screenshot, "image1/png");
	 	   }`

**Runner File**

`@RunWith(Cucumber.class)
@Cuc

[2019-08-30 04:15] vishalmgada commented on #28
@anshooarora Can you please help us here?

[2019-09-12 03:52] SamiraKhodami commented on #1
@foursyth @anshooarora I am having same problem as @subha077 above. Screenshots are being generated but not added to the report.
I am using extentreports-cucumber4-adapter , version 1.0.7 with cucumber 4.2.0

[2019-09-18 16:35] elaya2410 opened #29 "Not able to see the attached screenshot in the report"
I have attached screenshot in the report whenever the scenario is failed.
But I am not able to see the screenshot in the report.
Kindly help me out.

[2019-09-20 09:46] jeybn opened #30 "Scenario outline is showing as 2 separate scenarios in the Dashboard"
When running a Scenario outline with 2 examples, the number of scenarios is displayed as 3.
This is because the parent Scenario as one, and 2 when the scenario is run 2 times based on the examples.

![image](https://user-images.githubusercontent.com/32446985/65317467-cbf4bc00-db93-11e9-9650-24455bc33655.png)

The mismatch in the scenario count is visible the above mentioned screenshot.

[2019-10-03 20:21] cucumberQATester1428 opened #31 "Extent Report is not being generated in test-output folder"
Cucumber4-Adapter is not generating the desired extent report in the test-output folder only index.html report is being generated

package mortgage.runners;

import org.junit.runner.RunWith;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(
    plugin = {"pretty" , "html:target/CucumberResults",
            "com.aventstack.extentr

[2019-10-10 11:37] chik145 commented on #17
Any update about the issue ?

I Am Using Cucumber Version Is: 4.7.4
Getting "java.lang.NoClassDefFoundError: cucumber/runtime/io/URLOutputStream"

[2019-10-15 16:18] HegdeMangala opened #32 "Extent Report nor getting generated in Cucumber"
Hi I am new to selenium cucumber and trying to generate extent report.I am using latest versions of cucumber and my java version is 13.Could anyone please help me.I have attached pom

    `<project xmlns="http://maven.apache.org/POM/4.0.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-
    4.

[2019-10-15 16:19] HegdeMangala commented on #32
[POM.txt](https://github.com/extent-framework/extentreports-cucumber4-adapter/files/3730365/POM.txt)

[2019-10-31 12:43] thomasdeurloo commented on #24
Hi,

I have noticed there are a lot of questions here about adding the system info, steplogs and screenshots. A lot of people that where working with cucumber where using the plugin by vimalselvam. With this you could easily add all this things to the report.

This plugin is not working in combination with the cucumber4 and new extent reports version/adapter. It is required to use the new cucumber

[2019-11-01 11:46] thomasdeurloo commented on #32
Hi! you need to start the report and specify the output file by setting the Initialization Properties.

Try adding this to the testrunner instead of the afterclass method.
[code]
I think that should work.

if you want to start the logger reporter (html logger) as well then add these also:
[code]

See full docs [here](http://extentreports.com/docs/versions/4/java/extentservice.html), refered from [

[2019-11-04 19:15] Lufis commented on #29
Same problem here... Did you get the solution? Best regards...

[2019-11-04 19:16] Lufis commented on #28
Same problem!!

[2019-11-11 03:17] elaya2410 commented on #29
I have added method for adding screenshot and raised pull request.
But it is still open. If it is approved you can use the code for attaching screenshot

[2019-11-14 12:53] thomasdeurloo commented on #31
hi!
you specified:
`extent.reporter.logger.start=true`
but with
`extent.reporter.logger.out=`

i think you should specify the output dir of the logger.

you did specify
`extent.reporter.bdd.out=test-output/ExtentBddReport` but this BDD reporter is not started

if you want the html report with the cucumber plugin you should:
[code]

[2019-11-20 20:55] rkbala opened #34 "How to generate klov report from mongoDB using this adapter? Can you please share some sample code?"

[2019-12-02 15:34] far11ven commented on #24
@thomasdeurloo Thanks for your Insights, I've raised [Pull Request#35](https://github.com/extent-framework/extentreports-cucumber4-adapter/pull/35) which also incorporates methods to set SystemInfo, TestRunnerOutput using ExtentService

[2019-12-05 00:38] mounikaakuthota12 commented on #31
Hi,
I am facing the same issue, it does not create extent report folder under test-output.Below is my extent dependency in pom.xml file

<properties>

		<cucumber.version>4.2.0</cucumber.version>
		<selenium.version>3.141.59</selenium.version>
		<phantomjs.version>1.2.1</phantomjs.version>
		<slf4jVersion>1.7.21</slf4jVersion>
		<picocontainer>4.7.2</picocontainer>
		<rest-assured>2.7.0</rest-assu

[2019-12-10 18:29] mounikaakuthota12 opened #36 "Extent-report folder is not generating"
Hi,
I am facing the same issue, it does not create extent report folder under test-output.Below is my extent dependency in pom.xml file

4.2.0 3.141.59 1.2.1 1.7.21 4.7.2 2.7.0 1.3.2 3.4 1.18.8 3.2.0 7.0.0 1.6 2.22.2 1.6.0 3.1.0 3.8.1 4.8.0 6.14.2 UTF-8 2.5 1.8 5.1.6 2.6.3

<build>
	<plugins>
		<plugin>
			<groupId>org.apache.maven.plugins</groupId>
			<artifactId>maven-compiler-plugin</artifactId

[2019-12-18 10:15] thomasdeurloo commented on #36
is it running your tests correctly? if yes, then maybe it is not loading the properties.
you can try to set the properties in the system properties instead of a properties file.
add somethings like this in your testrunner:

[code]

Does that make any difference?

[2019-12-20 14:54] jbnzdev commented on #30
Hi @anshooarora , Is there any update on the above mentioned issue. ?

[2019-12-24 05:20] anshooarora commented on #14
@ashwinipotadar

You can use either or:

[code]

[2019-12-24 05:20] #14 closed

[2019-12-24 05:22] #19 closed

[2019-12-24 05:23] anshooarora commented on #20
@sureshmanik Kindly send in the pull request, thank you

[2019-12-24 05:24] anshooarora commented on #21
@dustin2020 Looking into this and a bunch of other issues affecting the core-API and lower adapter versions.  Please bare with me, I will have an update soon.

[2019-12-24 05:28] anshooarora commented on #22
It should pick up the properties file from "src/test/resources".  Can you try again?

[2019-12-24 05:35] anshooarora commented on #24
All - the `ExtentService` is available to override any default settings or add new ones.  Is that not working?

[2019-12-24 05:38] anshooarora commented on #26
You have added both `testng` and `cucumber` adapters.  Are you using Cucumber, or TestNG?

[2019-12-24 05:41] anshooarora commented on #28
All - I will look into this, but would also encourage you to not use the Logger formatter as it will be deprecated in the next major release.

[2019-12-24 05:46] anshooarora commented on #29
@elaya2410 - thank you for the PR.  I wanted to ask how is exposing the 3 methods different from using hooks?

[2019-12-24 05:47] anshooarora commented on #30
@jeybn Looking into this, please bare with me as I look into this along with several other open tickets/questions and issues.

[2019-12-24 05:48] anshooarora commented on #31
Hi - what is the location of `extent.properties`?

[2019-12-24 05:48] anshooarora commented on #31
Also - please use only 1 type of Reporter.  Multiple Rich reporters are not supported.

[code]

[2019-12-24 05:49] anshooarora commented on #32
@thomasdeurloo thank you!

[2019-12-24 05:49] #32 closed

[2019-12-24 05:49] #36 closed

[2019-12-24 05:50] anshooarora commented on #36
I am marking this issue as invalid.  Please format your question properly so its easily read.  Feel free to open a new ticket if the issue still persists, thank you.

[2019-12-24 05:51] anshooarora commented on #16
I have tested and am able to generate a report.  Can you please create a small project so I can test?

[2019-12-24 18:41] anshooarora commented on #34
To use Klov, you must use ExtentReports as normal and follow the docs to setup the Klov reporter.
 Please check the docs for more info,  closing this ticket.

[2019-12-24 18:41] #34 closed

[2019-12-25 01:11] #17 closed

[2020-01-02 06:46] anshooarora commented on #17
This is now resolved for Cucumber version `4.7.4`.  Here are the changes: https://github.com/extent-framework/extentreports-cucumber4-adapter/commit/4dba85727a15ddca5d2afacdb64c7a25b36f62a6

[2020-01-06 06:14] anshooarora commented on #13
Please use `ExtentSparkReporter`, it is the default reporter and starting the latest release `4.10.0`, it is a SPA style view just like the V3HtmlReporter.

[2020-01-06 06:14] #13 closed

[2020-01-06 06:36] anshooarora commented on #21
Unable to reproduce this, can you please check with version `1.0.9`?

[2020-01-06 06:38] anshooarora commented on #22
Closing as there has been no response.  Please reopen if you still encounter this issue with the latest release.

[2020-01-06 06:44] anshooarora commented on #23
@ramezah @sureshmanik This is not a bug, what is happening here is the report of the last completed runner class is overwriting the the previously executed one.  The recommended fix would be to use a single runner class to execute both features.

[2020-01-06 06:46] #24 closed

[2020-01-06 06:46] #26 closed

[2020-01-06 06:49] anshooarora commented on #28
All - please upgrade to the latest release and use `ExtentSparkReporter` or `extent.reporter.spark.start=true`.  V3HtmlReporter and LoggerReporter will be deprecated as I would like to focus on a single reporter moving forward.  The SparkReporter starting the latest release creates a single report view just like V3HtmlReporter and is better suited for BDD style reports.

[2020-01-06 06:49] #28 closed

[2020-01-06 06:49] #29 closed

[2020-01-06 06:50] #31 closed

[2020-01-14 01:50] agileselenium opened #37 "Unable to make step as fail when any if else condition fails"
build.gradle:
io.cucumber:cucumber-java:4.7.4
io.cucumber:cucumber-testng:4.7.4
com.aventstack.extentreports-cucumber4-adapter:1.0.8

Runner class:

plugin = {"com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter:", "json:target/cucumber-report.json"}
public class myRunner extends AbstractTestNGCucumberTests {
    @Override
    @DataProvider(parallel=true)
    public Object[][] scen

[2020-01-16 02:12] anshooarora commented on #37
You can throw an exception and the appropriate hook will be called and the exception will be registered.  Pseudo code:

[code]

[2020-01-16 02:12] #37 closed

[2020-01-27 14:16] samaran43 opened #38 "In generated report Screen shot URL is absolute path instead of relative path"
Hi,
I am using "extentreports-cucumber4-adapter" in my project. I am facing following issue. Can any resolve this?

1. I have configured the screen shot directory as "screenshot.dir=test-output/screenshots" in properties file it working for me. but the thing is, In generated report screen shot path formed by absolute path instead of absolute path.  So when i send my report to someone then screen s

[2020-01-27 19:03] anshooarora commented on #38
This behavior is due to the following:  https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/main/java/com/aventstack/extentreports/cucumber/adapter/ExtentCucumberAdapter.java#L213

This must be changed to the as-is path provided by `screenshot.dir`.

[2020-01-30 23:14] kathyrollo commented on #20
Hi all, can confirm issue is still present in version `1.0.10` with Cucumber `4.8.1`. Have not updated since `1.0.5` with Cucumber `4.2.0` - the last working combination.

Guess @sureshmanik did not get the PR through. Whenever I present, the screenshots are a major selling point to stakeholders.

[2020-01-31 06:51] anshooarora commented on #20
Its hard to tell where this broke looking at the revision history but I will check this over the weekend and provide a fix.

[2020-02-03 08:57] anshooarora commented on #20
**Screenshots:**

Starting `1.0.11-SNAPSHOT`, you can use the `screenshot.rel.path` configuration in `extent.properties` to specify a relative path to be used in the report.

Below is an example of the complete [extent.properties](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/config/extent.properties):

[code]

So considering the below folder structure:

[code]

Y

[2020-02-03 09:09] anshooarora commented on #20
The above commit now removes the extra steps appearing in the report:  the block to create node for each hook is now removed.  The screenshots will be attached to the immediately executed step before the embed event is called.

[2020-02-03 09:09] anshooarora commented on #20
Please test using:

[code]

[2020-02-03 09:11] anshooarora commented on #38
@samaran43 Please view #20.  The latest snapshot provides the ability to specify the relative path from the report to display screenshots.

[2020-02-03 22:52] kathyrollo commented on #20
Hi @anshooarora ,
Thanks for looking into this.

Used below in my pom.xml:
[code]

Error:
[code]

[2020-02-03 23:20] kathyrollo commented on #16
[code]
Been using the above for the longest time and reports have generated just fine.

Confirmed working combinations are:

TestNG
[code]

JUnit
[code]

Best to wait for the `1.0.11` release in #20.

[2020-02-03 23:44] kathyrollo commented on #27
Make sure you are formatting your gherkin correctly.
[code]

![scenario_outline_params](https://user-images.githubusercontent.com/28589393/73700579-01610700-473b-11ea-8d5d-b57b1f7058b1.PNG)

[2020-02-04 00:56] anshooarora commented on #20
@kathyrollo You may not have snapshots enabled. Please see [here](https://stackoverflow.com/questions/7715321/how-to-download-snapshot-version-from-maven-snapshot-repository).

[2020-02-04 06:15] kathyrollo commented on #20
Hi @anshooarora ,

Was able to download the `1.0.11-SNAPSHOT` and update to Cucumber `4.8.1`. A bunch of stuff got deprecated due to the move to `io.cucumber` pkg. Something is null and the tests are not starting even though I have updated all the imports.

Will create a skeleton project to make things easier to investigate as my actual project is big. Be back soon as I have it.

[2020-02-04 06:58] anshooarora commented on #20
@kathyrollo The current snapshot supports Cucumber version `4.7.4`.  There are a few breaking changes in 4.8.x, so supporting this version may not be feasible as version 5.x is now available.

[2020-02-04 08:18] kathyrollo commented on #20
@anshooarora Do you have a skeleton project with Cucumber `4.74`? Could be easier to check what's wrong with mine using a working sample. :)

[2020-02-04 09:07] kathyrollo commented on #20
Hi @anshooarora ,

Used Cucumber `4.7.4` with `1.0.11-SNAPSHOT`:
[code]
Output:
[code]
As an experiment, I removed the plugin
[code]
from `@CucumberOptions` to check if the Cucumber update broke the tests.

Output:

The tests ran and passed. It also generated the far less pretty default HTML report with screenshots.

![default_cukes_html_reporter](https://user-images.githubusercontent.com/28589393

[2020-02-04 18:42] anshooarora commented on #20
I suspect the NPE is due to the `screenshot.rel.path` ([src](https://github.com/extent-framework/extentreports-cucumber4-adapter/issues/20#issuecomment-581305340)) entry not present in `extent.properties`?   I have accounted for this and pushed the latest snapshot,  please try again.

[2020-02-04 18:59] anshooarora commented on #16
@x0156 I tested again and this works.  Please share the code snippet that helps me reproduce the behavior you are seeing.

[2020-02-05 00:14] kathyrollo commented on #20
Hi @anshooarora ,

Still getting null:
[code]
klov is blank because I do not have klov config.

[2020-02-05 11:16] x0156 commented on #16
@anshooarora  sorry didn't see your earlier  comment. i neither could find the project with issue nor reproduce now.so closing this now. thanks!

[2020-02-05 11:16] #16 closed

[2020-02-05 23:02] mkvetko opened #39 "License in pom file is not matching license in github - v1.0.10"
Recently I was dealing with an issue with upgrading the adapter version to the latest 1.0.10. We use in my company private nexus with proxy to maven central and before we add something to our private nexus from maven central there are some automatic checks applied. A license on the artifact is one of them. 1.0.10 has changed license in pom file from MIT to The Apache Software License, Version 2.0

[2020-02-06 00:24] anshooarora commented on #39
@mkvetko All products under the framework will be licensed under Apache2. All repos, artifact managers will be updated to reflect this change very soon.

[2020-02-06 00:24] #39 closed

[2020-02-06 11:39] mkvetko commented on #39
Thanks a lot for the reply

[2020-02-08 00:59] anshooarora commented on #20
@kathyrollo  I made a few more fixes,  please do a force refresh and try again.  If you are still getting a NPE,  can you share a snippet that I can use to reproduce this?

[2020-02-09 02:02] LearningPur opened #40 "ExtentSparkReport html file"
Hi @anshooarora Is there a workaround sending only index.html file to other party (Stackholder) to review the list of automation test cases can have an access of "dashboard as well tag" on click of it ?

**ExtentHtmlReporter used to provide this feature just by sending index.html file other can also view the dashboard and tag or any object that are visible in index.html.**

**ExtentSparkReporter f

[2020-02-10 18:44] LearningPur commented on #40
@anshooarora , If you have few min can you please reply on my question above.

Thanks
Victor

[2020-02-10 20:55] anshooarora commented on #40
Starting `extentreports:4.1.0`, Spark creates a single file just like HtmlReporter.  Can you add latest as a dependency and check?

[2020-02-10 20:55] anshooarora commented on #40
Also - refer [changelog](https://github.com/extent-framework/extentreports-java/blob/master/CHANGELOG.md).

[2020-02-11 17:36] LearningPur commented on #40
Thanks @anshooarora will update the dependency and check.

[2020-02-12 21:11] LearningPur commented on #40
It worked @anshooarora  thanks

[2020-02-12 21:11] #40 closed

[2020-02-12 21:17] LearningPur opened #41 "It's NOT known to the user if cucumber test pass and one of the step has screenshot attached to it"
Hi @anshooarora

We have requirement to attach screenshot of specific portion of an web application along with step whether it pass or fail.

In below screenshot you can see when test fail user can easily identify there must be a screenshot attached

![Screen Shot 2020-02-12 at 3 09 12 PM](https://user-images.githubusercontent.com/57417403/74377847-5be90b80-4daa-11ea-9b43-34eee7309a0d.png)

But wh

[2020-02-13 01:59] kathyrollo commented on #20
Hi @anshooarora ,

Here are the results of my snapshot testing:

### Snippets
[code]

mvn:
[code]
`-U` to force the snapshot update.

### Actual Result: 1.0.11-SNAPSHOT

The test did not execute and NPE is thrown. The generated SparkReport is empty with a false pass.

[code]

![er_1 0 11-SNAPSHOT](https://user-images.githubusercontent.com/28589393/74390846-898b8e80-4e56-11ea-8927-9259b3578d5c.PNG)

[2020-02-27 14:12] lucascologni opened #42 "Questions about deprecated ExtentHtmlReporter"
Hello! How are you?

I'm using ExtentReports, I liked so much the look of the report itself, but I have a couple of questions, can you help me?

1 - The "ExtentHtmlReporter" is deprecated, was it replaced to another one or other class? If yes, what similar report can I use that has the same rich layout?

2 - I'm reading the "extent-config.xml" layout, so I would like to customize the configuration

[2020-02-27 14:16] lucascologni opened #43 "Deprecated ExtentHtmlReporter, questions"
Hello! How are you?

I'm using ExtentReports, I liked so much the look of the report itself, but I have a couple of questions, can you help me?

1 - The "ExtentHtmlReporter" is deprecated, was it replaced to another one or other class? If yes, what similar report can I use that has the same rich layout?

2 - I'm reading the "extent-config.xml" layout, so I would like to customize the configuration

[2020-02-27 14:18] #43 closed

[2020-02-28 02:22] anshooarora commented on #43
@lucascologni please use ExtentSparkReporter.

[2020-03-08 07:15] samaran43 commented on #38
Hi @anshooarora , thank you valuable response. When can i get the final version of 1.0.11  in MVN repository?

[2020-03-10 13:25] Lakssh opened #44 "Incorrect status shown in Extent HTML report"
Hi,

I am using extent adapter 1.0.10 and facing a weird issue of incorrect status being displayed in the HTML report.
Actually Executed 4 tests and 2 are failed. However in the extent report, it shows as below
![image](https://user-images.githubusercontent.com/33589766/76316323-4f38d400-62d2-11ea-9229-e1e0dd10fe2c.png)

**Extent report dependency**
		<dependency>
			<groupId>com.aventstack</group

[2020-03-11 10:17] zuzeac commented on #44
A similar problem I encounter were the skipped scenarios are not recorded.
Only fails and pass.
One device just died and the rest of the test were skipped but not recorded in extent or spark report.
Any idea?

[2020-03-15 17:09] salunkhe-ravi commented on #20
Any update on this?
I'm unable to see embedded snapshots in the report!

[2020-03-18 10:59] FrankBergemann opened #45 "Little error in pie chart description of Dashboard view with html-3-reporter"
Hi,
I noticed a little error in the description text of the right-most pie chart of the Dashboard view of html-3-reporter which shows test execution statistics of Cuumber steps. It reads "1 scenario(s) falied, ..." but it should read "1 step(s) failed, ...", see attachment.
Best regrads
-- Frank

![ErrorInDescriptionText-Extent-cucumber-report](https://user-images.githubusercontent.com/54316676/76

[2020-03-19 00:00] jinkaax opened #46 "extentreports-cucumber4-adapter screenshot not attaching"
Hi, I am using extentreports-cucumber4-adapter , version 1.0.8 with cucumber 4.8.1, It does not attach screenshots to html report. It just save screenshots in a folder that I specified in screenshot.dir.
How can I attach screenshots to HTML report? I want a method which can be called anywhere in between steps to capture and attach the screenshot.

something like
Reporter.addScreenCaptureFromPath(s

[2020-03-19 23:49] salunkhe-ravi commented on #20
This is what I'm getting with cucumber 4.7.4 and the 1-0.11-SNAPSHOT maven:

Mar 20, 2020 5:16:15 AM freemarker.log._JULLoggerFactory$JULLogger error
SEVERE: Error executing FreeMarker template
FreeMarker template error:
The following has evaluated to null or missing:
==> config.getConfig("js")  [in template "commons/commons-inject-js.ftl" at line 2, column 3]

----
Tip: If the failing expression

[2020-03-20 06:07] anshooarora commented on #20
@salunkhe-ravi Looking into this. Can you share your instantiation code?

I have also pushed an updated snapshot, please do a force refresh (ensure SNAPSHOTS are also getting refreshed) and try again.

[2020-03-20 07:23] salunkhe-ravi commented on #20
Hi @anshooarora still no luck

See my repo here pls:

https://github.com/salunkhe-ravi/Selenix/tree/master/Selenix

[2020-03-20 07:53] anshooarora commented on #20
Fixed issue, please reimport/refresh pom.xml and try again.

[2020-03-20 07:54] anshooarora commented on #20
@kathyrollo Also fixed the NPE, please check the latest [snapshot](https://oss.sonatype.org/content/repositories/snapshots/com/aventstack/extentreports-cucumber4-adapter/1.0.11-SNAPSHOT/).

[2020-03-20 08:06] salunkhe-ravi commented on #20
Hello,

Nope no luck!

![image](https://user-images.githubusercontent.com/24796056/77145826-96cc1680-6aaf-11ea-93f0-3c908a182746.png)

Also, tried to revisit the imports from cucumbe.api to io.cucumber...but the issue still persists...

Updated the repo..pls check :(

[2020-03-20 08:12] anshooarora commented on #20
Which runner should I be using?  There are 4.

EDIT:  I see that the report is being generated, and I used the latest commit, it is also generating the report.  What is the issue?

[2020-03-20 08:26] salunkhe-ravi commented on #20
src/test/java/runners/MainRunnerTest.java

Executing the project by RunAs Maven test...

[2020-03-20 08:28] salunkhe-ravi commented on #20
I'm unable to get snapshots embedded into the report...that's the issue!

[2020-03-20 08:50] anshooarora commented on #20
Please use the below `extent.properties` and look under `test-output/Selenix-Spark/` for the report:

[code]

HtmlReporter has been deprecated as there are certain features it does not support.  Spark is the default version 4 reporter and it supports attaching screenshots on all test/step levels.  It will create a single file just like the HtmlReporter.

[2020-03-20 09:46] salunkhe-ravi commented on #20
You are a genius @anshooarora .

Thanks a ton for all your help & support!
Billiant!

Issue resolved! :)

Updated my repo for everyones reference.

https://github.com/salunkhe-ravi/Selenix

Also, can we get the final release version of this snapshot on mvn?.

And any plans for Cucumber v5?

[2020-03-20 13:09] USTQE commented on #46
Hi Team,

I have the same issue which @jinkaax has mentioned. Please us know the solution.

Thanks,
Abhilash G

[2020-03-20 20:42] anshooarora opened #47 "ExtentSparkReporter : When 1 cucumber step failed rest steps after failed step coming as Pass instead of Skip #126"
https://github.com/extent-framework/extentreports-java/issues/126

Hi @anshooarora I have integrated ExtentSparkReporter and after the execution i found when 1 cucumber step failed rest steps after failed step coming as Pass instead of should have been SKIPPED.

PFB screenshot of it

https://user-images.githubusercontent.com/57417403/74481896-1d6e5200-4e79-11ea-8e02-cc58302a1f39.png

[2020-03-20 22:55] anshooarora commented on #46
Please see here  https://github.com/extent-framework/extentreports-cucumber4-adapter/issues/20#issuecomment-601591963

Can you try with the latest snapshot and revert back?

[code]

[2020-03-21 17:03] grasshopper7 commented on #46
This fails when there is a hook method with NullPointerExcep for stepTestThreadLocal.get() in updateResult() method - https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/d9135d5da4d3a13f3af19f401bd45611c071f48e/src/main/java/com/aventstack/extentreports/cucumber/adapter/ExtentCucumberAdapter.java#L180

This works when this code is added to https://github.com/extent-framework/e

[2020-03-21 19:05] anshooarora commented on #20
Mounish of grasshopper.tech has created the version 5 adapter which "is based on the existing adapter for version 4 but has been modified to work with version 5".

More details here:  https://grasshopper.tech/1697/#comment-874

[2020-03-21 19:05] #20 closed

[2020-03-23 05:39] grasshopper7 commented on #20
I have uploaded the cucumber5-adapter to Maven. https://mvnrepository.com/artifact/tech.grasshopper/extentreports-cucumber5-adapter.

Give it a try. Thx.

[2020-03-23 10:12] salunkhe-ravi commented on #20
Yes sure!
Will play around today and update if anything.

Sent from Yahoo Mail for iPhone

On Monday, March 23, 2020, 11:10 AM, grasshopper <notifications@github.com> wrote:

I have uploaded the cucumber5-adapter to Maven. https://mvnrepository.com/artifact/tech.grasshopper/extentreports-cucumber5-adapter.

Give it a try. Thx.

—
You are receiving this because you were mentioned.
Reply to this ema

[2020-04-03 15:45] PeterMarton commented on #42
Hi,
may it is late  abit and probably you found the answer, but if not.

https://github.com/extent-framework/extentreports-java/blob/master/CHANGELOG.md

ExtentSparkReporter.java is your friend from now on.

[2020-04-07 20:07] abhishekrhyme commented on #20
<img width="1149" alt="Screen Shot 2020-04-08 at 1 34 05 AM" src="https://user-images.githubusercontent.com/62941664/78714294-4242eb00-7939-11ea-904c-30456787635d.png">

I am not getting screenshot in spark report.
using adapter 1.0.8 and cucumber 4.8.1
also, 1.0.11-SNAPSHOT repo not available.

[2020-04-07 20:12] abhishekrhyme opened #48 "Extent report adapter screenshot issue"
https://github.com/extent-framework/extentreports-cucumber4-adapter/issues/20
as this is closed so raising a new one.. same issue not able to attach a screenshot in report.
I looked into other issues but couldnt get my issue fixed.

I am not getting screenshots in spark report/logger report, only blue icon is displayed.
<img width="1149" alt="Screen Shot 2020-04-08 at 1 34 05 AM" src="https://user

[2020-04-08 06:35] anshooarora commented on #48
@abhishekrhyme Please share your `extent.properties`.

[2020-04-08 06:38] abhishekrhyme commented on #48
extent.reporter.html.start=true
extent.reporter.logger.start=true
extent.reporter.spark.start=true

extent.reporter.html.config=src/test/resources/extent-config.xml
extent.reporter.logger.config=src/test/resources/extent-config.xml
extent.reporter.spark.config=src/test/resources/extent-config.xml

extent.reporter.html.out=test-output/HtmlReport/ExtentHtml.html
extent.reporter.logger.out=test-outpu

[2020-04-08 06:40] anshooarora commented on #48
Use this:

[code]

[2020-04-08 06:45] abhishekrhyme commented on #48
I tried this but no luck stil the spark report without screenshots.

[2020-04-08 06:49] anshooarora commented on #48
Can you make sure you have the latest snapshot?  Can you force refresh the project along with all snapshots?

[2020-04-08 06:57] abhishekrhyme commented on #48
done still not working... here is my sample code

public class Steps {

	private WebDriver driver;

	@BeforeStep
	public void beforeStep() throws InterruptedException {
		Thread.sleep(250);
	}

	@AfterStep
	public void afterStep(Scenario scenario) {
		System.out.println("AFTER STEP");
		TakesScreenshot ts = (TakesScreenshot) driver;
		byte[] screenshot = ts.getScreenshotAs(OutputType.BYTES);
		sce

[2020-04-08 07:08] anshooarora commented on #48
Can you share your HTML file?

[2020-04-08 07:12] abhishekrhyme commented on #48
attached

[2020-04-08 08:25] anshooarora commented on #48
No attachments.

[2020-04-08 08:32] abhishekrhyme commented on #48
chere here https://github.com/abhishekrhyme/Cucumber4AdapterExample/tree/master/CucumAdaptar2

[2020-04-08 08:40] anshooarora commented on #48
You are not using the latest snapshot:

https://github.com/abhishekrhyme/Cucumber4AdapterExample/blob/master/CucumAdaptar2/pom.xml#L19

[2020-04-08 11:27] iyustlop opened #49 "Log info in the steps"
Hi,

In the past I use Extent Report widely using Listener. Then I have a class that contains the loging mechanism.

With the plugin I want to log the same information but I don't find an example to follow. I want to include the response of a RestAssured Request in the report but I don't find the way to do it.

I have implemented in the Runner Class the plugin configuration.

Could you share a exa

[2020-04-08 16:19] abhishekrhyme commented on #48
Hi @anshooarora
Updated the snapshot and dependency but the screenshots are still not attached.
https://github.com/abhishekrhyme/extentadapter.git

<img width="1306" alt="Screen Shot 2020-04-08 at 9 43 19 PM" src="https://user-images.githubusercontent.com/62941664/78808251-c8ffd280-79e2-11ea-887c-1bb43f2a68d8.png">

[2020-04-09 10:58] abhishekrhyme commented on #48
Hi @anshooarora ,
Upon using,
ExtentCucumberAdapter.addTestStepScreenCaptureFromPath(imagepath); - I enabled html report and was able to get the screenshots in html report.
scenario.embed(Files.readAllBytes(Paths.get(imagepath)), "image/png”); - But in spark report screenshots are still missing.

My git repo is updated if you want to have a look at HTML reports.
https://github.com/abhishekrhyme/ex

[2020-04-09 11:17] abhishekrhyme commented on #48
Also one point, the screenshots are not inserted in html report, i believe its just a link, if the screenshots from folder are deleted, image is not opening.. in this case if we email html report alone to anybody without screenshots, image wont open from html report right?

[2020-04-09 16:21] vzenzo commented on #2
This would be soooooo helpful as all of my config files are under resources/properties/configurations/

The only propertie file  sticking out is extent.properties

Also just to return to topic, none of these solutions work, I have all the latest version, tried clean install -U, tried every solution none of them work.

The screenshot keeps being saved in test-output and it won't change no matter wh

[2020-04-09 18:15] vzenzo commented on #48
I have same issue, in Spark there is no screenshots at all and in HTML report there are screenshot icons looking in right folders but thing is screenshots are saved in test-output no matter what I do

[2020-04-09 18:37] anshooarora commented on #48
The feature to specify the screenshot save location, and its relative path to the HTML file has been added in 1.0.11-SNAPSHOT.  I will publish the release and also share details of how to utilize this enhancement.

Please feel free to use the SNAPSHOT version until then, the instructions are towards the end of [this ticket](https://github.com/extent-framework/extentreports-cucumber4-adapter/issues

[2020-04-09 20:44] anshooarora commented on #2
@vzenzo Please use the latest release `1.0.11` and refer to [this section](https://github.com/extent-framework/extentreports-cucumber4-adapter#attaching-screenshots).

[2020-04-09 20:44] anshooarora commented on #48
Please use the latest release `1.0.11` and refer to [this section](https://github.com/extent-framework/extentreports-cucumber4-adapter#attaching-screenshots).

[2020-04-09 20:52] anshooarora commented on #46
@jinkaax  @grasshopper7 This was in response to #20.  I guess this is what now causes the downstream effect.

[2020-04-09 21:06] anshooarora commented on #46
@jinkaax @grasshopper7 @USTRepo

Please try with `1.0.12-SNAPSHOT`.

[2020-04-09 21:08] anshooarora commented on #38
@samaran43 This was a SNAPSHOT version until today,  I have just released it and may take a few hours to reflect [here](https://mvnrepository.com/artifact/com.aventstack/extentreports-cucumber4-adapter/1.0.11).

[2020-04-09 22:06] vzenzo commented on #26
What if I am using both testNG and Cucumber? Do I need both adapters?

[2020-04-09 23:27] anshooarora commented on #49
@iyustlop You can do so using:

[code]

[2020-04-09 23:27] #49 closed

[2020-04-09 23:28] anshooarora commented on #45
@FrankBergemann Can you please update to the latest version `1.0.11` and try again using `ExtentSparkReporter`.  The ExtentHtmlReporter has been deprecated by the core API.

[2020-04-09 23:30] anshooarora commented on #26
If you are using Cucumber (regardless of the underlying test framework), you need the Cucumber adapter.  If you are not using Cucumber, then use the TestNG adapter.

[2020-04-09 23:30] anshooarora commented on #3
Updated [readme.md](https://github.com/extent-framework/extentreports-cucumber4-adapter#attaching-screenshots).

[2020-04-09 23:30] #3 closed

[2020-04-10 00:01] #47 closed

[2020-04-10 00:01] anshooarora commented on #44
Please check with version 1.0.11 using SparkReporter.  HtmlReporter has been deprecated.

[2020-04-10 09:20] salunkhe-ravi commented on #20
Please take a look at my repository and go use the pom.xml
Thanks And Regards, Ravi Salunkhe.+91 9892 033 961https://www.linkedin.com/in/ravi-salunkhe-15485539/

    On Wednesday, 8 April, 2020, 01:37:28 am IST, abhishekrhyme <notifications@github.com> wrote:

I am not getting screenshot in spark report.
using adapter 1.0.8 and cucumber 4.8.1
also, 1.0.11-SNAPSHOT repo not available.

—
You are re

[2020-04-10 13:46] FrankBergemann commented on #45
Hi Anshoo,

Thank you for the advice; I’ll try it out.

I may mention that I opened another issue in github concerning log text missing in Extent-HTML-report, see

https://github.com/extent-framework/examples/issues/2

Maybe you’ve got the chance to look into that one as well. Should I migrate to Spark-Reporter in that case also?

Kind regards and happy Easter

n  Frank

From: Anshoo Arora <notifi

[2020-04-10 20:42] abhishekrhyme commented on #20
Dude your Pom is outdated, some of snapshots don’t even exist now, please verify before giving suggestion

[2020-04-10 20:45] abhishekrhyme commented on #48
It’s not working please verify with user before closing defect. It is redundant process to keep creating defects for the same issue as there is no reopen option available. Behavior is same as before... only hooks in the report are not appearing now rest screenshots don’t appear anywhere with scenario.embed function.

[2020-04-10 20:46] abhishekrhyme commented on #48
@anshooarora tagging you to refer above comment.

[2020-04-10 20:49] abhishekrhyme commented on #20
![D92475C6-81DB-4692-B988-AA60379F9C86](https://user-images.githubusercontent.com/62941664/79022058-c051fc80-7b9a-11ea-8937-870fc9239989.png)

Check this it does not exist anymore

@salunkhe-ravi

[2020-04-10 20:53] anshooarora commented on #48
Can you update your project with the latest updates?

https://github.com/abhishekrhyme/extentadapter

[2020-04-10 20:54] anshooarora commented on #20
The SNAPSHOT release exists.  Have you enabled SNAPSHOTS from your m2/settings.xml?  Anyhow, the release version is now available so I would suggest using that.

Note:  currently, `@Before` and `@After` are working, but `@BeforeStep` and `@AfterStep` aren't.  This will be fixed in the upcoming version 1.0.12 release,  fix available with `1.0.12-SNAPSHOT`.

[2020-04-10 20:55] anshooarora commented on #48
Also see my comment here:  https://github.com/extent-framework/extentreports-cucumber4-adapter/issues/20#issuecomment-612212611

If you are using `@BeforeStep` or `@AfterStep`, use 1.0.12-SNAPSHOT after enabling SNAPSHOTS.  Otherwise, use the current release version.

[2020-04-10 20:58] abhishekrhyme commented on #48
Thanks for the comment. Sure will give it a try and let you know.

[2020-04-10 22:02] salunkhe-ravi commented on #20
Let know if that worked for you and share your fix with others for them to update.
Hope you were aware of the settings.xml?!

Sent from Yahoo Mail for iPhone

On Saturday, April 11, 2020, 2:25 AM, Anshoo Arora <notifications@github.com> wrote:

The SNAPSHOT release exists. Have you enabled SNAPSHOTS from your m2/settings.xml? Anyhow, the release version is now available so I would suggest using th

[2020-04-11 11:55] zuzeac opened #50 "Failed scenarios not correct in tags"
Hi,
I just observed some issues on the library,
1. the failed number of scenarios is wrong in the tags section.
For e.g.: I had 1 scenario failed for tag @world-shop-catalog-feature, but it appears to be 2 fails in tags section from Dashboard.
<img width="693" alt="Screenshot 2020-04-11 at 14 50 10" src="https://user-images.githubusercontent.com/22985114/79042932-7140b180-7c04-11ea-932a-b19eaa1d61

[2020-04-11 13:36] vzenzo opened #51 "How can I add SystemInfo to reports?"
When using extent reports I would just add extent.setSystemInfo("InfoField", "InfoString")

Can I do this in html-config.xml or sparl-config.xml?
I really need this as adapter simplified my code but the report is full of issues now
(reporting hook tags such as @AfterStep, wrong colors in diagrams like skipped test is blue but check is yellow)

[2020-04-11 15:05] abhishekrhyme commented on #48
@anshooarora
I have used 1.0.11 release and also didn’t use @AfterStep as you advised, but there are no screenshots saved under test-output folder or attached to HTML report.

This are the steps used for taking screenshot:
byte[] screenshot = ((TakesScreenshot) driver).getScreenshotAs(OutputType.BYTES);
scenario.embed(screenshot, "image/png”);

Please check my updated repo and checkout the html re

[2020-04-11 16:09] anshooarora commented on #48
Okay, I will have a look and revert back.

[2020-04-11 20:52] anshooarora commented on #48
Here is what I see:

![image](https://user-images.githubusercontent.com/4107384/79054665-9e3c9680-7bfb-11ea-82dc-e3d849053d23.png)

There are 3 images attached.

[2020-04-11 21:11] anshooarora commented on #50
@zuzeac

1.  I am able to reproduce this
2.  The 2 cases are grouped, so both "skipped" and "pending" will go inside the same block of code.

[2020-04-11 21:14] abhishekrhyme commented on #48
yes, screenshots are showing in ur screenshot, but in the HTML report from repo I am seeing nothing. I am using mac and opening the HTML  in chrome, not sure if any plugin is required.  I can see only a paperclip icon attached to the scenario.

<img width="1354" alt="Screen Shot 2020-04-12 at 2 36 10 AM" src="https://user-images.githubusercontent.com/62941664/79055028-581d1c80-7c67-11ea-82bb-4e615

[2020-04-11 22:34] anshooarora opened #52 "Filter parent tags before assigning to Scenario"
At present, tags assigned to feature are also being assigned to scenarios.  This needs to be fixed to only assign Scenario tags.

[2020-04-11 22:35] #52 closed

[2020-04-11 23:02] anshooarora commented on #50
Partial fix was on the API side https://github.com/extent-framework/extentreports-java/issues/139

[2020-04-11 23:04] anshooarora commented on #30
This has been fixed in #50.

[2020-04-11 23:04] #30 closed

[2020-04-11 23:05] #27 closed

[2020-04-11 23:05] anshooarora commented on #27
Thank you @kathyrollo

[2020-04-11 23:09] anshooarora commented on #48
I see this as the path `src='../embedded1.png'`

https://github.com/abhishekrhyme/extentadapter/blob/master/test-output/Spark/Index.html#L172

but I do not see any images in this folder:

https://github.com/abhishekrhyme/extentadapter/tree/master/test-output

Why is that?  No wonder nothing is showing for you because the screenshots are not being saved to `test-output`.

[2020-04-12 10:40] vzenzo opened #53 "The adapter makes some weird folders to save screenshot"
So basically I have folders like
Projects
  -project v1
  -project v2
  -project v3

My main test project is in project 3 folder, each time I run test the folder called project%20v3 is made and there it saves screenshots.
The SparkReport and  HTML report are saved in proper directory

I've tried everything, from mvn clean install, to reimportintg dependencies but it keeps saving them there. It use

[2020-04-12 11:43] abhishekrhyme commented on #48
@anshooarora
It may be due to screenshot.rel.path attribute, yes screenshots are being generated but it is going in a different folder. It may be a Mac feature, any idea how to get this fixed other than not having space in the project location path.

My Project path is this location:
/Users/abhisheksen/My Computer/My Projects/eclipse-workspace-v1/extentadapter/test-output

while screenshot are get

[2020-04-12 16:23] vzenzo commented on #48
I am on windows and I have same issue as mentioned above but I do not see any screenshots in reports, I've moved all of my reports to test-output because of this, and still nothing, sometimes it generates screenshots but it is in that %20 folder, sometimes it doesn't even generate screenshot but at the end, there is no screenshot icon in html report nor spark report

[2020-04-13 03:13] anshooarora commented on #48
@abhishekrhyme not sure if it helps but can you try `./test-output/` in extent.properties.

@vzenzo Are you using `@After` or `@AfterStep`? Version? Can you create a small snippet or project?

[2020-04-13 07:28] zuzeac commented on #50
Hi @anshooarora , thank you for your prompt replay and fix.
for case 2, both skipped and pending will go inside the same block of code, but they won't be displayed in the report. And that's the issue here. How can we add them in the report?
When I was using an old version of extent report, not cucumber, then all skipped scenarios were recorded in the report.

[2020-04-13 07:43] anshooarora commented on #50
They should also be logged.  Can you check with `<version>1.0.12-SNAPSHOT</version>`?

[2020-04-13 10:02] zuzeac commented on #50
I just checked, by using 1.0.12-SNAPSHOT, but i do not see any fix, the Skipped scenario is not logged.

[2020-04-13 14:04] vzenzo commented on #48
I am using @AfterStep

[code]

I am using it in Hooks class, the problem I am occurring is sometimes it doesn't even save picture and the report doesnt't have picture link. I am using 1.0.11

I have later made my own code to take screenshot, just don't know how to implement it into a report

Also some of the colors on charts are mixed up but thats another issue.

[2020-04-13 16:17] anshooarora commented on #48
`@AfterStep` - use version 1.0.12-SNAPSHOT.

Due to an error, the AfterStep hook was removed but is now included in the latest snapshot.

[2020-04-13 18:46] anshooarora commented on #53
It would help if you can create a project and share the repository so I can investigate.  Please use the below and revert back:

[code]

Note: the adapter will try to locate the folder relative to your project basePath.  So the above is valid if you have the following structure:

[code]

[2020-04-13 18:58] anshooarora commented on #50
@zuzeac Please create a small project reproducing the issue so I can see the behavior.

Did you check the below as per your original post:

Is this working?

EDIT:  Please make sure to use the latest snapshot and force refresh the project.  If you are using Eclipse, you need to check the box below:

![image](https://user-images.githubusercontent.com/4107384/79162188-b21a0100-7d91-11ea-9b32-17a8ec5

[2020-04-13 19:01] anshooarora commented on #51
@vzenzo

The `@AfterStep` issue is currently in progress,  use version `1.0.12-SNAPSHOT`.

I will mark the color issue in the API.  Ref:  https://github.com/extent-framework/extentreports-java/issues/144

[2020-04-13 19:03] anshooarora commented on #51
Regarding system info,  this is currently not possible through configuration files.  However, you can use:

[code]

[2020-04-13 19:44] abhishekrhyme commented on #48
I tried by changing screenshot.dir but no help. It is still goin in %20 folders.

[2020-04-13 19:50] anshooarora commented on #48
Please email me at anshooarora@gmail.com.

[2020-04-13 19:55] anshooarora commented on #48
@abhishekrhyme - please drop me a test email  anshooarora@gmail.com

[2020-04-13 21:14] anshooarora opened #54 "Uploading screenshot to Klov fails"
Uploading will fail if the below configuration is used to build a relative path:

[code]

This is because the relative path is only used for `BasicFileReporter` classes.  Klov directly using a `ConfigurableReporter` and fails to locate the relative path.  Fix is to use `tryResolveMediaPath` to provide the complete URI of embeds.

[2020-04-13 21:14] #54 closed

[2020-04-13 21:25] anshooarora commented on #44
This has been fixed in #50.  https://github.com/extent-framework/extentreports-cucumber4-adapter/commit/00526ec129986f839cc982b8bd9d3e6c82e7ae7d

[2020-04-13 21:25] #44 closed

[2020-04-13 23:51] anshooarora commented on #48
I referred to your screenshots above and this happens because the default way to save screenshots is by writing against a URL.  See the [official Cucumber HTML formatter](https://github.com/cucumber/cucumber-jvm/blob/master/core/src/main/java/io/cucumber/core/plugin/HTMLFormatter.java#L177).  Any space would be replaced by `%20` so I would advise you to not have any spaces, use `-` or `_` where ne

[2020-04-14 06:57] zuzeac commented on #50
1. the fix first issue seems to not work, 1.0.12-SNAPSHOT, do i need to update any other library?

2. second issue: Oh, i got it, you got it wrong, the skipped steps from a scenario are logged in the report.
I was reffering to the following: let's assume I have a suite of 10 scenarios/tests, then at the 5th scenario something broken, test execution is interrupted (the device is disconnected) then

[2020-04-14 07:28] anshooarora commented on #50
Everything should be logged, I am not sure why it isn't.  For me, if 1 scenario fails, the rest still execute as they normally would, they are not skipped by default.

[2020-04-14 09:58] vzenzo commented on #51
is there any special place to put this? in some class or annotation?

[2020-04-14 11:25] zuzeac commented on #50
Hi, it might be my configurations, i have a combinations of testng with cucumber annotations.
I create a small project and all work as expected.
I will look further into this, to figure it out.
You can close the ticket, if i'll find something i'll let you know.
Thanks

[2020-04-14 11:37] zuzeac commented on #51
I've add this into the Runner class with @AfterClass and work as expected

`@AfterClass
    public void setReportInfo() {
        ExtentService.getInstance()..setSystemInfo("App", APP_VERSION);
       ExtentService.getInstance().setSystemInfo("Device", BaseSetup.deviceName + " with " + BaseSetup.platformVersion);
    }`

[2020-04-14 16:25] vzenzo commented on #51
Thank you very much!

[2020-04-14 18:35] anshooarora commented on #50
Thanks,  having a project to understand the scenario would help.

[2020-04-14 18:38] anshooarora commented on #51
@vzenzo The SKIPPED color has been corrected in all charts.

You have opened a new issue:  https://github.com/extent-framework/extentreports-cucumber5-adapter/issues/1.  Is this the same issue for cucumber4-adapter?

[2020-04-14 18:53] zuzeac commented on #50
You can find a sample here https://github.com/zuzeac/appium-cucumber-extent-report.git . you'll need Appium installed and a phone connected to you machine.
Just start the tests with mvn test, while the test starts, disconnect the device. And you will see that the next scenarios are not recorded.
I think it's because the testng annotations *@beforeSuite, @BeforeMethod.
When I used the cucumber anno

[2020-04-14 19:52] abhishekrhyme commented on #48
@anshooarora
Got your point so in Spark report as screenshots look into the project folder to link screenshots, and if we have space in project path because of formatter it will go to %20 folder, so we need to keep this in mind. For now I have moved the screenshots (manually) to project folder, and spark report is showing the screenshots. Step is:
_scenario.embed(((TakesScreenshot) driver).getScre

[2020-04-14 21:39] anshooarora commented on #48
Thanks for the update.

[2020-04-14 21:39] #48 closed

[2020-04-16 10:14] suri1990 opened #55 "CucumberOptions(Strict=true) not failing the Undefined Steps present in Feature File"
Steps To Reproduce :

-- Created a sample feature file in Java maven project.
-- For few steps in feature for a particular test scenario , didn't defined the step definition code.
-- Using @CucumberOptions(strict=true) in Runner class with other mandatory options as well.
-- Run the maven project from Eclipse IDE.

Actual Result : Undefined Steps are not failing and instead showing pass in HTML re

[2020-04-16 20:32] anshooarora commented on #55
@suri1990 This issue has been fixed in cucumber4 adapter v`1.0.12`.  Please update your version and try again.

[2020-04-17 04:03] suri1990 commented on #55
@anshooarora , I am using all latest Jars of cucumber(version 5.x.x) in my project and correspondingly cucumber5 adapter. Is this an issue with v5.x.x of cucumber jars and cucumber5 adapter for the wrong display of extent report?
If Yes, then do I need to change all Jars of cucumber to v4.x.x and use cucumber4 adapter?

[2020-04-19 11:37] grasshopper7 commented on #55
@suri1990 I will change this in the version 5 adapter and upload. The status for missing step definitions is now "undefined".

[2020-04-20 15:28] vzenzo commented on #51
The skip steps are with orange color but on circle they are blue

cucumber4 adapter does not show hooks anymore, since 1.0.11

Edit: I have tried now with 1.0.12 and it shows some hooks

![image](https://user-images.githubusercontent.com/52910214/79779124-1f9dd280-833a-11ea-831c-607675d393f2.png)

[2020-04-20 16:06] grasshopper7 commented on #55
@anshooarora  Gave version 1.0.12, with cucumber 4, a try with scenarios having no step definitions. It is showing these scenarios and steps as passed in the Spark report.

Used the feature file from the test resources folder in this repo - [shopping.feature](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/test/resources/cucumber/examples/java/calculator/shoppin

[2020-04-20 17:08] vzenzo commented on #51
Back to this issue, when I put @AfterClass it does nothing, I have also tried with @AfterTest and @AftersSuite, none of them add SystemInfo, only way it works is if I put it into @After  tear down method but then it repeats same info each scenario

![image](https://user-images.githubusercontent.com/52910214/79779223-54118e80-833a-11ea-96ee-6d4405c12c13.png)

[2020-04-20 22:36] anshooarora commented on #51
@vzenzo

I do not see any blue circles in the screenshot.

You can use this workaround to ensure the code inside this block executes only once:  https://github.com/cucumber/cucumber-jvm/issues/515#issue-13874287

[2020-04-21 00:18] anshooarora commented on #55
@grasshopper7 thank you for your research.  The adapter needs to implement `StrictAware` to consume the status of `strict` flag.  Please review the commit https://github.com/extent-framework/extentreports-cucumber4-adapter/commit/7b027b95d260fe5ced254b55ce67f7e7df746235.

@suri1990  Published snapshot release to nexus,  please use `1.1.0-SNAPSHOT`.  You will have to ensure SNAPSHOTS are enabled fr

[2020-04-21 00:24] anshooarora commented on #46
Release `1.0.12` contains this fix,  these hooks will now be visible on the report.  There are a few additional fixes coming in the next version `1.1.0`.  Will update the group once available.  Closing this.

[2020-04-21 00:24] #46 closed

[2020-04-21 00:42] anshooarora commented on #50
@zuzeac I don't use Appium or other web test tools.  I can test your code as-is without the need of any utility if you can help reproduce it.  Also, there was a fix that went into the latest snapshot `1.1.0-SNAPSHOT` which records pending tests as well.  See here:  https://github.com/extent-framework/extentreports-cucumber4-adapter/commit/7b027b95d260fe5ced254b55ce67f7e7df746235.  Can you check it

[2020-04-21 07:38] vzenzo commented on #51
Sorry didn't place screenshot for that

![image](https://user-images.githubusercontent.com/52910214/79838760-c7a3b200-83b3-11ea-98be-c9ee06d195be.png)

What is the workaround here? There is so many things here  I don't know where to start

[2020-04-21 10:08] vzenzo commented on #51
I've fixed the SystemInfo issue by putting it into @AfterClass in a test runner

[2020-04-21 11:36] vzenzo commented on #53
the problem was that if the project folder has space in name for example My Test, it will create My%20Test, but if you work in folder My_Test, it works fine.

[2020-04-21 12:05] suri1990 commented on #55
@anshu - Extent report looks fine to me with adapter5 v1.1.0.
Just a query whether @After/Before/BeforeStep/AfterStep are counted in
steps in extent report?

@grasshopper7 - please check at your end as well.

Thanks
Surender

On Tue, 21 Apr 2020, 5:49 am Anshoo Arora, <notifications@github.com> wrote:

[2020-04-21 12:24] grasshopper7 commented on #55
@suri1990 I will be updating the adpater v5 with minor changes to match the latest code in version 4 adapter and upload to nexus, possibly tonight. Will update here when done.

[2020-04-21 12:28] grasshopper7 commented on #51
@anshooarora @vzenzo I had modified the code to take in system info details from the extent-config.xml.
`<systeminfo.os>Windows</systeminfo.os>
		<systeminfo.version>10</systeminfo.version>`
This ideally should be from the extent.properties. If you think this solution seems suitable I can create a pull request.

[2020-04-21 12:35] anshooarora commented on #53
Thanks for the update.  Closing this,  as its the same as #48.

duplicate #48

[2020-04-21 12:35] #53 closed

[2020-04-21 12:36] anshooarora commented on #38
@samaran43 are you still experiencing this issue, or can it be closed?

[2020-04-21 12:37] #42 closed

[2020-04-21 12:38] #21 closed

[2020-04-21 12:38] #23 closed

[2020-04-21 12:42] anshooarora commented on #45
@FrankBergemann like the other one, please use ExtentSparkReporter.

For configuration, use: https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/config/extent.properties#L8

[code]

[2020-04-21 14:38] suri1990 commented on #55
Sure.
Just had one query mentioned above whether @
*After/Before/BeforeStep/AfterStep* are counted in steps in extent report?

Thanks
Surender

On Tue, 21 Apr 2020, 5:55 pm grasshopper, <notifications@github.com> wrote:

[2020-04-21 15:43] grasshopper7 commented on #55
@anshooarora Tested it out with some of the test cases from yesterday and it looks good. The skip steps are displayed correctly and the strict="true" option fails the skipped steps.

One query from earlier - Hooks with scenario.write are included in the steps count. What is the logic behind this?

Second query related to tags tab - Have 2 feature files. One named 'shopping' containing 2 scenarios.

[2020-04-21 17:32] anshooarora commented on #55
@grasshopper7 this is nothing to do with the adapter but the Extent API itself.  It is configured to account for each "event" that is raised - in our case these are `scenario.handleWrite` which are children of hook steps (`@AfterStep` `@BeforeStep` etc).  To account for this behavior, a change would have to be made from the API, while being generic as the API is not tied to any one type of runner/

[2020-04-23 08:41] zuzeac commented on #50
hi @anshooarora, i test the `1.1.0-SNAPSHOT`, I think it has something to do with the fact that i'm using TestNG annotations.
When using cucumber annotation, the scenarios which did not run, will be recorded as failed
When using TestNG annotations, the scenarios which did not run will not be recorded.

Cucumber:
<img width="1372" alt="cucumber" src="https://user-images.githubusercontent.com/229851

[2020-04-27 15:41] vzenzo commented on #51
this would be great!

[2020-04-27 15:58] zuzeac commented on #51
@grasshopper7 but it will also remain the possibility to add it from ExtentService instance? Because I'm adding dynamic data in system info and by adding it from config file only I don't see how can it be done.

[2020-04-27 19:35] grasshopper7 commented on #51
@zuzeac It should not interfere with adding of system info from code. Though I will test it out to make sure.

[2020-05-03 10:53] VishalKTechnocredits commented on #51
@vzenzo @anshooarora   How did you resolve this issue. I am facing the same issue. System info are appearing if I put them into @After hook and its repeating after every scenario.  but it is not showing in report when I am putting them into @AfterClass

[2020-05-03 12:40] zuzeac commented on #51
@VishalKTechnocredits  make sure @afterclass is in the runner class.

[2020-05-11 02:20] Rajno1 commented on #46
Thanks a lot, @anshooarora, your comments and advice helping me a lot, finally I got how to get a screenshot by using extent reports-cucumber4-adapter.And
could you please advice, is there any way that we can send this extent report to the mail directly ?

[2020-05-12 10:20] grasshopper7 commented on #51
I created a PR which allows the system info to be picked up from extent.properties and also when passed in the maven command. https://github.com/extent-framework/extentreports-cucumber4-adapter/pull/57

[2020-05-13 05:32] anshooarora commented on #46
You can email this report once execution completes, although none of these templates are tested over email clients so I am not sure of their legibility when mailed.

[2020-05-13 05:33] anshooarora commented on #51
@grasshopper7 Thanks,  I will check.

[2020-05-27 05:55] samaran43 commented on #38
Hi @anshooarora , Issue resoved we can close this

[2020-05-28 14:23] #38 closed

[2020-05-29 08:56] kameshbabu commented on #22
Following to this questions, is there any ways to configure to pick up from other folders apart from "src/test/resource" ?

[2020-05-29 09:52] grasshopper7 commented on #22
The locations are coded in the source itself. Check this https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/75b01cf2de9781b4894c779579ad443c9a427cd4/src/main/java/com/aventstack/extentreports/service/ExtentService.java#L48

Do not think there is a way to configure a specific folder. A 'not so good' workaround could be to pass the key-value in the command itself. Maybe worthwh

[2020-05-29 21:59] anshooarora commented on #22
The issue with config is it should be available right when the Service loads so it knows which components to setup for use.  I can add a convenience method to allow this after the instance has been created to which you can supply the properties path.  To better understand this, can you specify where you can storing the properties file?

[2020-05-31 10:56] garlapati99 opened #58 "Remove @before and @after hooks in the reporting"
hi,  I have multiple feature files and each feature file has its own step definition. In the extent report i see all before(init) methods in the report.
Is it possible to not report this in the extent report?

[2020-06-15 21:21] tgoswami013 opened #59 "Not able to jump directly to scenario"
Once I click on failed TestName inside bug/tag section, it redirect me to top of feature which is failed. I want to reach to particular failed scenario directly so that I can see at which step it failed instead of scrolling to the scenario.

Also, this report is at feature level and scenarios grouped together inside it. Can we create report scenario-wise.

[2020-06-16 18:53] anshooarora commented on #59
This has to happen via ExtentReports, I have raised a ticket referencing this.  You can track it using:

https://github.com/extent-framework/extentreports-java/issues/191

[2020-06-16 18:53] #59 closed

[2020-06-16 18:55] anshooarora commented on #58
Hi - please let me know the version of the adapter and Cucumber. There were several changes made to the way hooks are reported in the latest version and further customization can be made to further improve this behavior.

[2020-06-24 06:59] Vinoth0194 commented on #1
Hi, Can some One help me out to fix this issue?

io.cucumber.core.exception.CucumberException: Couldn't load plugin class: com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter

I am getting this error
This is my runner class.
<img width="1440" alt="Screenshot 2020-06-24 at 12 28 34 PM" src="https://user-images.githubusercontent.com/58105225/85511433-3b617580-b616-11ea-8ea6-27dd880dc

[2020-06-24 07:03] anshooarora commented on #1
@Vinoth0194 This is the version4 adapter, not tested with versions 5+.

[2020-06-24 07:04] anshooarora commented on #1
@subha077 @Andyclark97 @igorakintev @SamiraKhodami

Please let me know if you are still having this issue.

[2020-06-24 07:06] Vinoth0194 commented on #1
@anshooarora I am not getting it.

[2020-06-24 07:08] anshooarora commented on #1
You have:

[code]

with:

[code]

Version 4 adapter with Cucumber 6. Not supported.

[2020-06-24 07:12] Vinoth0194 commented on #1
okay. I will change the version and check the reports.

[2020-06-24 07:19] Vinoth0194 commented on #1
I have changed the version: but now i am getting this error

java.lang.NoClassDefFoundError: io/cucumber/core/eventbus/EventBus

	at java.lang.Class.getDeclaredConstructors0(Native Method)
	at java.lang.Class.privateGetDeclaredConstructors(Class.java:2671)
	at java.lang.Class.getConstructor0(Class.java:3075)
	at java.lang.Class.getConstructor(Class.java:1825)
	at org.junit.internal.builders.Annota

[2020-06-24 07:27] Vinoth0194 commented on #1
thanks. Its working fine.

[2020-06-27 21:24] grasshopper7 opened #60 "Spark report pie charts are showing erroneous values for branch v1.2x for extent version 5"
1. Executed the runner [RunCukesTest.java](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/v1.2.x/src/test/java/cucumber/examples/java/calculator/RunCukesTest.java) using default values.

This is output of cucumber test execution
`8 Scenarios (8 passed)
36 Steps (36 passed)
0m0.928s`

But the spark report shows 4 scenarios and 18 steps only.
![adapter1](https://user-images

[2020-06-27 22:21] anshooarora commented on #60
@grasshopper7

Thanks, checking now..

[2020-06-27 22:42] anshooarora commented on #60
@grasshopper7

https://github.com/extent-framework/extentreports-java/commit/d8bcda986c23cac82aaf9446f20a40646107bf7c

This fixes the counts for scenarios and increases the count of steps.  However, the steps counts do not match due to this report counting every step (including hooks) as a step.

[2020-06-28 14:54] grasshopper7 commented on #60
Now it is working for the earlier cases except for the steps count. This was the behavior with version extent 4 too.

1. Plugin does not generate the Spark report but a file named 'SparkReport' when the folder structure is not already present.

2. Got pie chart without any features, twice when running multiple times. But unable to determine exact sequence.
![adapter5](https://user-images.githubuse

[2020-06-28 19:52] grasshopper7 commented on #60
Updated adapter code in a PR, to add duration value for each Feature in the tests tab of report. https://github.com/extent-framework/extentreports-cucumber4-adapter/pull/61

[2020-06-29 04:52] anshooarora commented on #60
@grasshopper7

Thanks for your research.  I will also have a look, this does look strange to me - especially since the other 2 charts did generate.  Do you still have the report file?  I can investigate the js that may have caused it.

The default name is SparkReport because of [this config](https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/src/test/resources/com/aven

[2020-06-29 08:55] grasshopper7 commented on #60
Have this setting `extent.reporter.spark.out=test-output/SparkReport/` in extent.properties.

-- No test-output folder - Get a file named 'SparkReport' in 'test-output' folder. If I add a html extension to this, it displays the report.
-- Only test-output folder - Same as above.
-- Exists test-output/SparkReport/ folder structure - Creates 'Index.html' report in SparkReport folder. As expected.
--

[2020-06-29 18:27] anshooarora commented on #60
@grasshopper7

1. Fixed the issue with file not saving in the correct location
2. Charts:  I used Brave, Edge and Chrome - unable to reproduce this on any of the 3, however I did not test with Firefox..
3. Doc Strings - working on it

[2020-06-29 18:44] anshooarora commented on #60
The following change https://github.com/anshooarora/extentreports5-cucumber5-adapter/commit/2c33272d6867a4aec31aaa1e32bd130b1249354d creates DocStrings as `<pre>` formatted blocks:

![image](https://user-images.githubusercontent.com/4107384/86043648-dcc53e80-b9fd-11ea-9909-08b576c86e69.png)

Is this the desired behavior?

[2020-06-29 19:45] grasshopper7 commented on #60
Yeah that works. Did not realize `MarkupHelper.createCodeBlock` would work for this. Will update the existing cucumber 5 and 6 adapter code. Thanks.

[2020-06-30 08:20] grasshopper7 commented on #60
I tried integrating the plugin with a cucumber V4 project and ran into Freemarker error. Using extentreportV5 master branch & cucumber4-adapterV1.2.x branch.

Below is the extent.properties settings
extent.reporter.spark.start=true
extent.reporter.spark.config=src/test/resources/extent-config.xml
extent.reporter.spark.out=test-output/SparkReport/
screenshot.dir=test-output/
screenshot.rel.path=../

[2020-06-30 08:25] anshooarora commented on #60
I think it is due to the enum value not correctly mapped due to lower case word.  Here is the default v5 config: https://github.com/extent-framework/extentreports-java/blob/master/config/spark-config.xml.

Will look into this..

[2020-06-30 09:17] grasshopper7 commented on #60
That worked. Thanks. Any chance it can be handled at code level.

[2020-06-30 22:21] anshooarora commented on #60
@grasshopper7

Fixed, latest SNAPSHOT deployed.

[2020-07-01 09:42] gbalaji94 opened #62 "extentreports-cucumber6-adapter : attaching screenshot to extent report doesnt work"
Hi @anshooarora

I am using extentreports-cucumber6-adapter,

[code]
Issues :

1. Scenario.embed doesn't work.
2. Alternatively, I could use
           ` scenario.attach(screenshot, "image/png", scenario.getName());`

This adds the attachment icon to the report, but the image is empty. Can you please help?

[2020-07-11 11:56] SonaliSihra commented on #1
@anshooarora  Hey, with all the discussion above it is getting confusing. I'm facing the issue where the reports are getting generated but the images are not found in the report... I figured out that the path is set wrong in the report.html file and it is searching for the reports at http://localhost:63342/home/User/locustapitest/target/cucumber-reports/locustcharts/performanceChart1594459662333.p

[2020-07-17 23:26] anshooarora commented on #62
@gbalaji94 This would be the correct repository for this issue:  https://github.com/grasshopper7/extentreports-cucumber6-adapter.   Copying @grasshopper7

This can be fixed by using a relative path from https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/master/config/extent.properties#L31

[code]

So considering the above, if you are saving your report in `test-output/SparkRe

[2020-07-17 23:26] #62 closed

[2020-07-17 23:29] anshooarora commented on #1
@SonaliSihra  the dependencies you are using seem correct, but I believe these are for version 1 of Cucumber.  Is this the version you are using?  You can find the correct adapters from this page:  https://github.com/extent-framework/extentreports-java/wiki/Plugins

[2020-07-18 12:45] grasshopper7 commented on #62
@gbalaji94 If u are still having the issue even after trying the settings above, feel free to open an issue at - https://github.com/grasshopper7/extentreports-cucumber6-adapter/issues. Thanks

[2020-07-19 11:02] grasshopper7 commented on #60
Hi @anshooarora
I added this code to the existing adapter and am getting an extra tab in the beginning and an extra new line at the end.
`MarkupHelper.createCodeBlock(((DocStringArgument) argument).getContent())`

![tagdocstr](https://user-images.githubusercontent.com/10829355/87872772-1d9aec80-c9d9-11ea-861b-7dfa55a9dfca.png)

Any chance you can have a look into this. Thanks.

[2020-07-19 17:08] anshooarora commented on #60
@grasshopper7 I ran your latest code with the above addition and this is how the DocString appears for me:

![image](https://user-images.githubusercontent.com/4107384/87880586-aa2cb700-c9a7-11ea-83d2-d6cd9835e7ff.png)

Also attaching the HTML file:

[Index.zip](https://github.com/extent-framework/extentreports-cucumber4-adapter/files/4944116/Index.zip)

[2020-07-19 17:09] anshooarora commented on #60
Unrelated, but - we would need to add the KlovReporter section back to properties as its near completion and ready for release.

https://github.com/extent-framework/klov-server

Will update you soon.

[2020-07-19 17:55] anshooarora commented on #60
Added JSONFormatter for v4 adapter:  https://github.com/extent-framework/extentreports-cucumber4-adapter/commit/dd6fce7ab6b7ee6611063808ad231ad0294495a5

[2020-07-19 19:09] grasshopper7 commented on #60
This is interesting. I will run this again and check. Thanks.

[2020-07-19 19:11] anshooarora commented on #59
@tgoswami013 This enhancement is now included, you can test it here:

http://extentreports.com/samples/attrNavToTest/nodes.html

[2020-07-19 19:15] grasshopper7 commented on #60
Will update the version 5 and 6 adapters.

I am not familiar with the JSONformatter report and have a query. This generates a json file, so in that case is there any need for a config file property (ie. location of extent-config.properties)?

[2020-07-19 20:28] anshooarora commented on #60
@grasshopper7

Do you mean this: https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/v1.2.x/config/extent.properties?

By default, this won't be required: `extent.reporter.json.config=`.  But, I am keeping it here to be future-proof.

[2020-07-20 06:26] tgoswami013 commented on #59
Thanks a lot!

[2020-07-20 08:13] grasshopper7 commented on #60
The extra spaces comes up in extent version 4. I have created a new issue to make it easier to follow. - https://github.com/extent-framework/extentreports-java/issues/214

Thanks

[2020-07-20 08:13] #60 closed

[2020-07-20 08:16] grasshopper7 commented on #60
Sounds good enough. So even if someone enters the location by overriding this setting in the project extent.properties nothing should happen with the current code. Is that correct understanding? Thx

[2020-07-21 17:01] grasshopper7 opened #63 "JSONFormatter v1.2x throws Gson unsupportedoperation exception"
Tried adapter v1.2x code with extent V5. Got below exception when creating Json report.

`java.lang.UnsupportedOperationException: Attempted to serialize java.lang.Class: com.aventstack.extentreports.gherkin.model.Feature. Forgot to register a type adapter?
	at com.google.gson.internal.bind.TypeAdapters$1.write(TypeAdapters.java:73)
	at com.google.gson.internal.bind.TypeAdapters$1.write(TypeAdapte

[2020-07-21 17:15] anshooarora commented on #63
Ah!  Gson does not understand the gherkin classes, thus throwing this error.  I will fix this.

Regarding the folder structure, its only for JSON right?  Spark should still work.

[2020-07-21 17:28] grasshopper7 commented on #63
Nope spark is also not working without an existing folder structure.

[2020-07-21 19:41] anshooarora commented on #63
fixed issues with TypeAdapter not recognizing Gherkin classes.  Working on paths.

[2020-07-21 19:53] anshooarora commented on #63
Fixed and deployed SNAPSHOT with the 2 fixes.

Note: if paths are supplied like so:

[code]

Then all file-reporters will resolve them to the file-name.

If they are supplied like:

[code]

Files will not be created under `SparkReport` or `JsonReport`.  Instead, 2 files will be created in the below path:

[code]

[2020-07-21 20:47] anshooarora commented on #63
If all looks good - then I think we are ready to release.  :)

[2020-07-22 06:36] grasshopper7 commented on #63
I think when creating reports with the above style, to display images for spark the screenshot setting (ie screenshot.rel.path) will need to be modified. Will test and check.

[2020-07-22 07:11] grasshopper7 commented on #63
Json report is being generated now.

Works with the first approach when filenames are mentioned.

With the second approach, it is a bit confusing.
[code]
1. **No test-output folder** - Reports are generated in newly created test-output folder. But spark shows blank images. Tried different settings for screenshot property, did not work.
2. **Existing test-output\spark & test-output\json folder stru

[2020-07-22 15:48] anshooarora commented on #63
Okay - for paths then, I will port the version 4 approach.

New images are created for each run, if you check the modified date for each, it will be current.

[2020-07-22 16:12] anshooarora commented on #63
The latest SNAPSHOT uses v4, which will create a fully qualified file name if user has not supplied a file with the known extensions. Below are the use cases:

[code]

Using the above, if:

*  test-output does not exist -> test-output will be created
*  test-output/SparkReport does not exist -> test-output/SparkReport will be created

[2020-07-22 17:27] grasshopper7 commented on #63
Works now.

[2020-07-22 17:29] anshooarora commented on #63
Thanks for the confirmation. I will close this ticket and start preparing for release.

[2020-07-22 17:29] #63 closed

[2020-07-24 06:53] rahgir commented on #63
@anshooarora : Any plans of releasing this new version soon ? I am waiting for this JSONFormatter fix :)

[2020-07-24 07:14] grasshopper7 commented on #63
It is available in nexus - https://oss.sonatype.org/#nexus-search;quick~extentreports. Both extent and adapter4. U could download or wait for maven central to replicate.

[2020-07-24 07:42] rahgir opened #65 "Cucumber-Non-functional: look and feel for steps and scenario headline needs improvement"
Hi @anshooarora ,

I was going through the SparkReporter Cucumber report and just felt that the look and feel in Test Panel needs improvement.
If I expand the scenario(right of attached image) , it looks very weird and it's difficult for anyone to easily distinguish between a scenario headline and its step to contract it back. Situation gets more worse when there are multiple scenarios in feature

[2020-07-24 07:52] anshooarora commented on #65
@rahgir Can you email this report to me if possible?  anshooarora at gmail.

[2020-07-24 10:04] rahgir commented on #65
Hi, sent an email to anshooarora@gmail.com. Please check. Thanks.

[2020-07-24 10:06] rahgir commented on #63
Thanks much :)

[2020-07-24 18:24] anshooarora commented on #65
What version is this?

[2020-07-25 07:05] rahgir commented on #65
Extentreports: 4.1.7 & extentreports-cucumber4-adapter: 1.0.12

[2020-07-25 07:09] anshooarora commented on #65
Can you try with 1.2.0?

[2020-07-26 18:01] rahgir commented on #65
Hi @anshooarora , Below are my observations after using cucumber-adapter: 1.0.12 along with extent-report 5.0.0(klov-reporter added to exclusions).
1. Look and Feel got improved. Better than earlier.
2. I am not able to generate report in dark mode even if theme set to DARK in spark-config.xml and other config as mentioned here -> https://github.com/extent-framework/extentreports-cucumber4-adapter

[2020-08-05 04:11] rahgir commented on #65
@anshooarora : did you get any chance to look into this issue ?

[2020-08-07 21:18] grasshopper7 opened #66 "Screenshot folder is created with %20 in name when space is present"
Have a space in screenshot.dir setting, then it creates a folder with name 'test%20output'.

`screenshot.dir=test output/`

This is due to the below line of code in URLOutputStream which does not interpret the URI correctly.

https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/26b6451dfee50f241f592c53a337ea55a62b6fc9/src/main/java/com/aventstack/extentreports/cucumber/adapter/

[2020-08-10 23:48] anshooarora commented on #66
@grasshopper7 Another user reported this issue here:

https://github.com/extent-framework/extentreports-cucumber4-adapter/issues/48#issuecomment-613152077

[2020-08-11 00:21] anshooarora commented on #66
Ability to add plain local path can be added via configuration, this will also ensure existing usage does not break for users who are using direct HTTP links to display images.

[2020-08-11 00:29] anshooarora commented on #65
The latest `v1.2.1` resolves 2 & 3.  For 4, it should match up as it counts the total number of tests, not steps.

[2020-08-11 06:17] grasshopper7 commented on #66
There is a check for 'file' or 'http' protocol before the File object is created. Any http linked images should work as before.

https://github.com/extent-framework/extentreports-cucumber4-adapter/blob/26b6451dfee50f241f592c53a337ea55a62b6fc9/src/main/java/com/aventstack/extentreports/cucumber/adapter/URLOutputStream.java#L40

https://github.com/extent-framework/extentreports-cucumber4-adapter/blo

[2020-08-11 06:25] anshooarora commented on #66
Ah. Thanks for reminding me.  Yes, this would work.  Can you send a pull request?

[2020-08-11 07:27] grasshopper7 commented on #66
Done - https://github.com/extent-framework/extentreports-cucumber4-adapter/pull/67

[2020-08-11 07:29] anshooarora commented on #66
Thank you,  merged PR.

[2020-08-11 07:29] #66 closed

[2020-08-11 13:22] rahgir commented on #65
@anshooarora : I verified with adapter version 1.2.1 & extentreport - 5.0.1 by reexecuting same test twice. It is overwriting the earlier JSON file and the spark report generated is showing only one test instead of two with the same name.
Hence observation 3 above needs to be fixed.

Below is my config

--# spark-reporter
extent.reporter.spark.start=true
extent.reporter.spark.config=
extent.report

[2020-08-24 19:43] praveen1626 commented on #1
Hi Vinoth,

Even i am facing the exact issue here.. I see you have fixed the issue, can you please help me here to update my POM xml..

Please find the POM.xml of mine

<dependencies>

    <dependency>
      <groupId>io.cucumber</groupId>
      <artifactId>cucumber-java</artifactId>
      <version>5.7.0</version>
    </dependency>
    <dependency>
      <groupId>io.cucumber</groupId>
      <artifa

[2020-08-26 07:16] FrankBergemann opened #68 "No report generated with extentreports-cucumber4-adapter 1.2.1"
Hi Anshoo,
extentreports-cucumber4-adapter version 1.0.12 was working fine for me. However no reports are getting generated when using version 1.2.1. File _extent.properties_ truely is in my class path and looks like:
[code]
extent-config.xml reads:
[code]
Please find pom.xml attached. Can you help?
Kind regards
-- Frank
[pom.xml.txt](https://github.com/extent-framework/extentreports-cucumber4-ada

[2020-09-10 11:57] grasshopper7 opened #69 "Testng jar included by default"
Extent reports version 5.0.1 is including testng in the test project as the `test` scope is missing in the dependency. This testng jar interferes if the runners are using junit. In case of testng runners, cucumber uses an older version 6 testng jar. To avoid this, in the test project the testng has to be explicitly excluded.

The latest version 5.0.3 fixes this scope. A new adapter version which i

[2020-09-18 14:49] rajeeshnair commented on #48
@anshooarora i have a query here,in html report you are attaching this as base64string.So we can share the report across no need to depends on the local image file.But in Spark report and even for additional logo also,attached image is depends on the local path and image .Just correct me if i am wrong,so my request is there anyway we can add the image in both these case also as similar to html rep

[2020-09-18 14:53] rajeeshnair opened #70 "Attachments missing from added logo and spark report once it shared acroos."
Dear @anshooarora i have a query here,in html report you are attaching this as base64string.So we can share the report across no need to depends on the local image file.But in Spark report and even for additional logo also,attached image is depends on the local path and image .Just correct me if i am wrong,so my request is there anyway we can add the image in both these case also as similar to htm

[2020-09-18 14:55] rajeeshnair commented on #70
Extent report adapter screenshot issue #48 relates to thsi issue.
 @anshooarora i refered this sample,the same dependencies i am using
https://github.com/abhishekrhyme/extentadapter/tree/master/test-output/Spark

[2020-09-19 15:32] kkrkirankumar commented on #14
if you are using extent reports. "Reporter.addsteplog()" can help.

[2020-09-20 13:53] surajgupta7175 commented on #20
@abhishekrhyme Somebody trying to help DUDE!!
He doesn't know about SNAPSHOTS I am sure. He even didn't try to research which was the latest version back then and commenting outdated.

[2020-09-22 20:58] Bhagyacse opened #71 "Retried scenarios are still showing in the report"
Hi .. I have added reTryListener to my cucumber project and when the scenarios is re-run for 3 or 5 times , all those logs are coming in Extent report . how should i remove those duplicate logs. It made the report messed up by printing logs for 5 times.

Could you please help how i can remove the logs when tests are skipped.

[2020-10-12 05:48] ritunegi04 opened #72 "Issue with Cucumber version 6.2.0"
When are you going to provide support for cucumber 6?

[2020-10-16 07:16] bughunter7 commented on #30
Hi @anshooarora  its the same issue I am still facing using extent report cucumber 6 adapter .
Dependency used -

                    <dependency>
			<groupId>tech.grasshopper</groupId>
			<artifactId>extentreports-cucumber6-adapter</artifactId>
			<version>1.2.0</version>
			<scope>test</scope>
		</dependency>

While Using Scenario outline it shows incorrect results please check and let me know t

[2020-10-16 10:25] vishal131991 commented on #48
@abhishekrhyme I went through your repo and  I am using below code to capture screen shot in html report and its working as expected
if(scenario.isFailed())
		{
		ExtentCucumberAdapter.addTestStepScreenCaptureFromPath(getBase64Screenshot(Pojo.getDriver()));
        byte[] screenshotBytes = ((TakesScreenshot) driver).getScreenshotAs(OutputType.BYTES);
		scenario.embed(screenshotBytes, "image/png");

[2020-10-16 13:32] bughunter7 opened #73 "Scenario Outline shows Incorrect / Doubles Count in Dashboard View - extentreports-cucumber6-adapter"
When Running a Scenario Outline the count in the dashboard is incorrect . it displays double count to what scenario is executed also tags section shows same scenario title twice.

**Please find Below link for report screenshots –**
https://github.com/bughunter7/ExtentReportIssue

**Dependency used –**

tech.grasshopper
extentreports-cucumber6-adapter
1.2.0
test

Please let me the solution its urge

[2020-10-16 22:17] abhishekrhyme commented on #48
Didn’t understand , the lines u remove r for capturing screenshot. So u
can’t remove them if u aim for screenshots

On Fri, Oct 16, 2020 at 3:55 PM vishal131991 <notifications@github.com>
wrote:

--

Thanks & Regards

*Abhishek Sen*

*Contact: +91 7618769358*

*https://www.linkedin.com/in/senabhishek/
<https://www.linkedin.com/in/senabhishek/>*

[2020-11-09 15:04] lgjsherond commented on #62
Screenshot not generating once it failed. Please find the attached files. Or shall I need to generate the screenshot with the help of a webdriver.

![image](https://user-images.githubusercontent.com/50234665/98557816-ae6c3f80-22ca-11eb-9323-6353278c692a.png)

![image](https://user-images.githubusercontent.com/50234665/98557886-c47a0000-22ca-11eb-9633-843eba3177e7.png)

[2020-11-19 16:13] grasshopper7 opened #74 "Adapter not recognizing languageof feature file"
Sample feature file
[code]

Get below exception as GherkinDialectManager.getDialect() is null and no appropriate matching is done with languages json.

[code]

[2020-11-22 06:15] reshmi537 commented on #1
Report is not generating.But no error.Could u help me?

[2020-11-25 16:39] USTQE commented on #46
@anshooarora I would like to know which version we have the feature updated. I was trying with latest version. I am getting error like different packages are missing. Please help

[2021-01-01 20:01] hariharan2394 opened #76 "Using extentreports-cucumber6-adapter - Custom JS not working"
![image](https://user-images.githubusercontent.com/24701102/103445434-09525f80-4c9a-11eb-8cab-15fce09eb6b7.png)
I am trying to make this customization, but its not considered by extent report. Is this not possible?

[2021-01-15 10:56] hariharan2394 commented on #76
can any one please update on this, whether its possible or not, so that I can move on to other options?

[2021-02-05 17:42] jiteshk11 commented on #76
@hariharan2394 , is cucumber6-adapter available? I am using cucumber 6.9 version and seems like cucumber4 adapter is its working with it, and wasn't able to find cucumber6-adapter.

@anshooarora is it something coming soon?
thanks

[2021-02-05 17:43] jiteshk11 commented on #72
@anshooarora I also need adapter for cucumber 6, please could you provide us?

It much needed.

Thanks,

[2021-03-15 21:19] prabhus06 opened #77 "Test fail when the feature file name is null"
java.lang.IllegalArgumentException: testName cannot be null or empty

[ERROR] Errors:
[ERROR]   testName cannot be null or empty

[2021-04-06 15:23] shahnawazm786 commented on #20
Scenario: Logo presence on orangeHRM home page # src/test/resources/features/Test.feature:2
Open the amazon browserLogo presence on orangeHRM home pagefile:///F:/MavenProject/src/test/resources/features/Test.feature:2Hello
  Given I launch chrome browser                # stepDefinitions.OrangehrmSteps.i_launch_chrome_browser()
      java.lang.NullPointerException
	at Hooks.HooksClass.capture(Hooks

[2021-04-15 18:28] sarvab123 opened #78 "Extent report is not generating when run feature file with tag name using maven command"
Hi,

Extent report is not generating when we run feature files using tags directly passing from maven command instead of running the runner file.

mvn test -Dfilepath="<file path>" -Dtagstorun="<tagname>"

Extent report cucumber adapter4 version 1.0.8

[2021-04-20 18:02] #78 closed

[2021-05-06 02:47] cen-MichaelH opened #79 "Parameter in scenario outline not getting displayed"
`Scenario Outline:Verify <loginUsr> user has no access to ......`
Examples:
      | loginUsr     |
      | admin          |
      | client         |

**Expected result:**

**Actual result:**

![image](https://user-images.githubusercontent.com/73673950/117234863-1f9b4280-ae69-11eb-92aa-e5e86e2da9cf.png)

[2021-06-10 22:41] Zbr123 commented on #31
I am facing this issue. unable to generate the report.
No error is displayed

[2021-06-19 11:33] jagadeeshmadhura commented on #31
i'm also facing issue only spark and pdf reports generated

below is my extent.properties file

extent.reporter.spark.start=true
extent.reporter.spark.out=target/SparkReport/Spark.html

extent.reporter.pdf.start=true
extent.reporter.pdf.out=target/PdfReport/ExtentPdf.pdf

extent.reporter.html.start=true
extent.reporter.html.out=target/extent/HtmlReport/ExtentHtml.html

extent.reporter.bdd.start=tr

[2021-06-28 16:41] RanjeetTF commented on #51
Hi @anshooarora  i new to extent report i am using extent.properties file to generate report. how can i create folder based on the timestamp and put my reports inside that folder.

Thanks in advance

[2021-07-19 03:28] cent-kebinjoy commented on #27
It doesn't work in the scenario outline title

 `  @TC31
  Scenario Outline: Sort by '<option>'
    When I Search Product: '<query>'
    When I Sort By: '<option>'
    Then I Should See Products Sorted By: '<option>'

    Examples:
      | query   | option               |
      | asti    | Price (Low to high)  |
      | italian | Product Name (Z - A) |
`
![image](https://user-images.githubusercont

[2021-11-29 23:43] skhandekar1 opened #80 "Adding variables to annotations"
In our automation tests, we are using firmware devices. The device serial numbers are passed through and input properties file and change for each user of the automation framework, depending on what devices they own. My problem is that I want the device numbers to be displayed in the extent reports. I am unable to do this as the annotations do not accept variables. Is there any way to achieve this

[2021-12-01 10:40] Ashwin-art opened #81 "Feature Tags Only In Extent"
I am using ExtentCucumberAdapter6.

Dashboard displaying @tags for both Feature level tags and Scenario level tags. I want only feature-level tags to display. how to not display scenario level tags in dashboard?

[2021-12-19 03:15] skhandekar1 opened #82 "How to attach log files to top of extent reports"
I want to attach my log files to my extent reports. I saw the following from @anshooarora, but it does not solve my issue completely

https://github.com/anshooarora/extentreports-java/issues/249

The problem is that the log gets attached to the last testcase that ran, since I put the command to attach log on my Extent Listener in onExecutionFinish() method:

[code]

I want my log to instead be att

[2021-12-19 22:53] skhandekar1 commented on #82
With this I was able to attach the execution log to the Log view of the Extent reports, but I want it to be on the main page where all the test results are displayed:

[code]

![image](https://user-images.githubusercontent.com/82490680/146693830-6f12e0f4-f063-47e9-921c-6b8e36177106.png)

How can i put this in the desired location?

[2021-12-21 06:44] skhandekar1 opened #83 "Should I have separate extent report htmls for each suite"
When I run multiple suites using testng, <suites> level file, is it common convention to have single extent report html for all suites or should I have separate ones for each suite? When I say extent.flush(), the instance still remains, thus preventing me from creating a new report for each test.

[2022-03-01 15:29] AlexBravoInostroza01 opened #84 "ExtentReports Cucumber7 Adapter?"
There is this version for cucumber 7

[2022-06-01 07:28] saravanakumarm1986 commented on #1
Above issue, i am also facing. Please give me a possible solution to resolve this

[2022-08-24 02:40] SudhaFarooq opened #85 "Folder path mentioned in extent config.properties file (screenshot.dir field) is not getting created"
Hi.. Please help on the issue below

I am working on the BDD project from the **secured shared automation server** and I have used extentreports-cucumber6-adapter for reporting.

The user.dir of my project is like  \Sharefolder1\folder2\folder3\_Selenium_Team_Workspace\Sudha_Automation\BDD\Aug23\UpgradedAutomation

I have added extent.properties as below:
 	extent.reporter.html.out=test-results/HT

[2022-10-06 07:07] Savph commented on #30
Hi @anshooarora , I'm also facing same above mentioned issue using extent report cucumber 7 adapter . Could you please help resolve this.

Though I have run only **1 scenario** in Tags table it is showing as **2 Passed**

![image](https://user-images.githubusercontent.com/115139133/194236386-8014c8a2-0b27-423f-a45c-795e77a9688f.png)

Dependencies used
<dependency>
    <groupId>com.aventstack</grou